a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.top_logo {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    //background-image: url("../img/topbackground.png");
    background-color: #F0AD4E;
}

.logo_img {
    margin-left: 50px;
}

.top_logo ul {
    float: right;
    margin-right: 50px;
}

.top_logo li {
    list-style: none;
    float: right;
    line-height: 50px;
    width: 100px;
    font-family: 黑体;
    font-size: larger;
    font-weight: bolder;
}

.top_logo li a {
    color: black;
}

.center_bg {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}

.center_search {
    margin-top: 80px;
    margin-left: 270px;
    margin-bottom: 50px;
}

.center_search li a {
    cursor: pointer;
}

.search_input {
    border: 1px solid gray;
    width: 500px;
    height: 50px;
}

.center_type {
    width: 200px;
    float: left;
}

.center_notice {
    width: 200px;
    float: right;
}

.center_notice li a :nth-child(1){
    width: 60px;
}

.center_notice li a:nth-child(2){
    width: 90px;
}

.center_notice li a:nth-child(3){
    width: 90px;
    margin-right: 0px;
}

.center_notice li a {
    font-size: 10px;
}

.list {
    position: relative;
    overflow: hidden;
    height: 256px;
}

.center_notice_title {
    background: rgba(0,0,0,.5);
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
}

.center_activity {
    float: left;
    margin-left: 30px;
    width: 640px;
    height: 290px;
    overflow: hidden;
    position: relative;
}

.center_activity_list {
    position: absolute;
    width: 3566px;
    height: 290px;
    z-index: 1;
}

.center_activity_list li {
    float: left;
    list-style: none;
}

.center_activity_list img {
    width: 640px;
    height: 290px;
}

#activity_buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 270px;
}

#activity_buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
}

#activity_buttons .on {
    background: orangered;
}

.activity_arrow {
    cursor: pointer;
    display: none;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 100px;
    position: absolute;
    z-index: 2;
    top: 95px;
    background-color: RGBA(0,0,0,.3);
    color: #fff;
}

.activity_arrow:hover {
    background-color: RGBA(0,0,0,.7);
}

.center_activity:hover .activity_arrow {
    display: block;
}

#activity_prev {
    left: 2px;
}

#activity_next {
    right: 2px;
}

.center_recommend_book {
    border-top: 1px solid gray;
    padding-top: 10px;
    width: 1100px;
    float: left;
}

.recommend_book_label {
    border-left: 4px solid orange;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.recommend_book_list {
    position: relative;
    //border: 1px solid gray;
    margin: 10px auto;
    width: 1000px;
    height: 170px;
    overflow: hidden;
    padding-left: 0;
}

.recommend_book_img_list {
    position: absolute;
    z-index: 1;
    width: 4200px;
    height: 170px;
    left: 0;
}

.recommend_book_list li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.recommend_book_div img {
    width: 175px;
    height:168px;
}

.buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 460px;
}

.buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #333;
    margin-right: 5px;
}

.buttons .on {
    background: orangered;
}

.arrow {
    position: absolute;
    cursor: pointer;
    display: none;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 70px;
    z-index: 2;
    top: 50px;
    background-color: RGBA(0,0,0,.3);
    color: #fff;
}

.arrow a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.recommend_book_list:hover .arrow {
    display: block;
}

#prev {
    left: 5px;
}

#next {
    right: 5px;
}

.center_hot_book {
    border-top: 1px solid gray;
    padding-top: 10px;
    width: 1100px;
    float: left;
}

.hot_book_label {
    border-left: 4px solid orange;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.hot_book_list {
    padding-left: 20px;
    width: 1100px;
    height: 200px;
    margin: 10px auto;
}

.hot_book_list li {
    margin: 0 10px;
    list-style: none;
    float: left;
}

.book_div img {
    width: 175px;
    height: 170px;
}

.book_div span {
    height: 30px;
    line-height: 30px;
    color: black;
}

.footer {
    clear: both;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: #353C41;
}

.copyright {
    //margin-left: 50px;
    color: gray;
    line-height: 50px;
}

#back-to-top {
    float: right;
    margin-right: 10px;
    border: 1px solid gray;
}

#back-to-top a {
    color: black;
}

.search_on_top {
    position: fixed;
}