a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
}

.nav li a {
    cursor: pointer;
}

.top_form {
    position: absolute;
    left: 55%;
    top: 10px;
    width: 350px;
}

.top_form input {
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.top_form button {
    background-color: transparent;
}

.center_bg {
    position: relative;
    /*width: 1240px;*/
    height: 600px;
    width: 100%;
    //margin-top: 30px;
    background-image: url("../img/21.png");
    background-size: 100% 100%;
    //margin-bottom: 50px;
    margin: 30px auto;
}

.login_form {
    position: absolute;
    width: 400px;
    height: 350px;
    right: 90px;
    top: 125px;
    padding-top: 30px;
}

.form_title {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #3c3c3c;
    margin-top: 20px;
    padding-bottom: 8px;
    font-weight: 700;
}

.login_tip {
    margin-left: 50px;
    color: red;
}

.login_input_div {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.login_input_div img {
    width: 30px;
    height: 30px;
}

.login_link {
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
}

.login_link a {
    color: gray;
    margin-left: 10px;
}

.login_link a:hover {
    color: #EC971F;
}

.footer {
    clear: both;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    //background-color: #353C41;
    border-top: 1px solid gray;
    background-color: white;
}

.copyright {
    color: gray;
    line-height: 50px;
}
