a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
}

.nav li a {
    cursor: pointer;
}

.center_bg {
/*border: 1px solid red;*/
    margin: 30px auto;
    width: 1100px;
    position: relative;
}

.center_search {
    // border: 1px solid red;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 700px;
    margin-left: 250px;
    /*margin-right: auto;*/
}

.center_search select {
    border: 1px solid gray;
    height: 40px;
}

.search_input {
    border: 1px solid gray;
    width: 500px;
    height: 40px;
}

.center_search button {
    height: 40px;
}

.search_list_div {
//border: 1px solid green;
    padding-top: 20px;
    width: 900px;
    float: left;
    padding-left: 10px;
    min-height: 700px;
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.book_type {
    border: 2px solid #EEEEEE;
    /*float: right;*/
    float: left;
    width: 195px;
    min-height: 390px;
}

.book_type_title {
    height: 40px;
    border-bottom: 1px solid #EEEEEE;
    line-height: 40px;
    padding-left: 10px;
    font-size: larger;
}

.list-group-item {
    border: none;
}

.book_type_btn {
    padding-left: 10px;
}

.book_type_btn button {
    height: 30px;
    line-height: 15px;
}

.book_message_div {
 // border: 1px solid #EEEEEE;
    /*float: left;*/
    float: right;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.img_div {
    float: left;
//border: 1px solid red;
    width: 100px;
    height: 150px;
    margin-top: 30px;
}

.img_div img {
    width: 100px;
    height: 150px;
}

.book_message_message_div {
//border: 1px solid red;
    float: left;
    margin-left: 10px;
    width: 760px;
//height: 150px;
}

.book_message_message_div .book_name {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

.book_message_message_div .book_message {
//border: 1px solid red;
    border-bottom: 1px solid #DDDDDD;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

.book_message_message_div .book_message span {
    font-weight: inherit;
    font-size: smaller;
    margin-right: 40px;
    margin-left: 10px;
    color: gray;
}

.book_introduction {
//border: 1px solid red;
    color: gray;
    font-size: smaller;
}

.book_list_page_btn nav {
    /*border: 1px solid green;*/
    border-top: 2px solid #EEEEEE;
    position: absolute;
    width: 900px;
    bottom: 0px;
    left: 0px;
}

.footer {
    clear: both;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
//background-color: #353C41;
    border-top: 1px solid gray;
    background-color: white;
}

.copyright {
    color: gray;
    line-height: 50px;
}

.book_list_page_btn a {
    cursor: pointer;
}
