a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
}

.nav li a {
    cursor: pointer;
}

.top_form {
    position: absolute;
    left: 55%;
    top: 10px;
//width: 350px;
    border-bottom: 1px solid gray;
}

.top_form select {
    width: 60px;
    background-color: transparent;
    border: none;
    outline: none;
}

.top_form input {
    width: 240px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
// border-bottom: 1px solid red;
}

.top_form button {
    background-color: transparent;
}

.center_bg {
// border: 1px solid red;
    margin: 30px auto;
    width: 1100px;
    position: relative;
    min-height: 550px;
}

.center_left {
    border: 1px solid #DDDDDD;
    float: left;
    width: 844px;
    margin-bottom: 20px;
    min-height: 550px;
    padding-top: 20px;
    padding-left: 10px;
}

.user_message_div .left_user_img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.user_message_div .center_user {
//border: 1px solid green;
    float: right;
    margin-right: 10px;
    width: 660px;
    height: 200px;
}

.center_user .user_name {
// border: 1px solid green;
    font-size: large;
    font-weight: bold;
    height: 47px;
    line-height: 47px;
}

.update_btn {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    /*margin-top: 10px;*/
}

.center_left .user_message_div {
    height: 200px;
}

.message_div {
// border: 1px solid red;
    line-height: 30px;
    height: 30px;
}

.update_btn_img {
    width: 20px;
    height: 20px;
}

.center_left .book_message {
    border-top: 1px solid #DDDDDD;
// border: 1px solid red;
    margin: 0 auto;
    width: 800px;
    padding-top: 20px;
}

#nav_tabs a {
    color: black;
    cursor: pointer;
}

.update_div {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    // height: 50%;
    padding: 16px;
    /*border: 3px solid gray;*/
    background-color: white;
    z-index: 3;
    // overflow: auto;
}

.update_top {
    color: red;
    border: 1px solid white;
    height: 40px;
    line-height: 40px;
    margin-left: 250px;
}

.update_div .close {
    color: #0e0e0e;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    display: block;
    height: 30px;
}

#update_name {
    height: 300px;
}

#update_email {
    height: 340px;
}

#update_img {
    min-height: 200px;
}

.center_right {
    border: 1px solid #DDDDDD;
    float: right;
    width: 250px;
    min-height: 550px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.right_img {
    border-bottom: 1px solid #DDDDDD;
    height: 110px;
}

.right_img .user_img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    float: left;
}

.img_user {
//border: 1px solid green;
    position: relative;
    float: left;
    height: 100px;
    width: 135px;
    padding-left: 5px;
}

.img_user .user_name {
    margin-top: 29px;
    display: block;
}

.img_user .img_user_credit {
    position: absolute;
//border: 1px solid red;
    height: 20px;
    width: 128px;
    bottom: 2px;
}

.right_select {
    margin-left: 10px;
    margin-right: 10px;
}

.right_select ul li {
    border-left: none;
    border-right: none;
    border-top: 1px dashed #DDDDDD;
    border-bottom: 1px dashed #DDDDDD;
}

.right_select ul li a {
// border: 1px solid red;
    color: #3c3c3c;
}

.footer {
    clear: both;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    border-top: 1px solid gray;
    background-color: white;
}

.copyright {
    color: gray;
    line-height: 50px;
}

.out_bg {
    position: absolute;
    height: 106%;
    width: 100%;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
    top: 0;
}

.img_div {
    position: relative;
    float: left;
}

#chengeImg {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 150px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}

#chengeImg span {
    float: left;
}

.change_btn {
    width: 100%;
}

.ok_btn {
    background-color: #286090;
    line-height: 30px;
    width: 70px;
    display: none;
}

.file {
    position: relative;
    display: inline-block;
    // background: #D0EEFF;
    // border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    // color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    // background: #AADFFD;
    // border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}