<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>服务器内部错误</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<section id="error" class="container text-center" style="height:800px;margin-top: 100px;">
    <h1>500, 服务器的内部错误 </h1>
    <p>请与开发者联系</p>
    <a class="btn btn-danger" th:href="index">回到首页</a>
</section>
</body>
</html>