<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>页面未找到</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
</head>
<body>
    <section id="error" class="container text-center" style="height:800px;margin-top: 100px;">
        <h1>404, 页面没有找到</h1>
        <a class="btn btn-danger" th:href="index">回到首页</a>
    </section>
</body>
</html>