<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户寻书</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/activity_information.css}" />
    <!--<script th:src="@{/js/notice.js}" type="text/javascript"></script>-->
</head>
<body>

<!--顶部-->
<div th:include="assembly::navWithSearch"></div>

    <!--页面中部-->
    <div class="center_bg">
        <div class="center_left_div">
            <div class="notice_index_div">
                <div class="title"></div>
                <div class="index_list">
                    <ul>
                        <li th:if="${session.user eq null}"><a th:href="@{/login}">我要申请发布活动</a></li>
                        <li th:unless="${session.user eq null}"><a th:href="@{/user/apply}">我要申请发布活动</a></li>
                        <li><a th:href="@{/tourist/activelist/1}">活动列表</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="center_right_div">
            <div align="center">
                <div class="active_title" th:text="${active.activeTitle}"></div>
                <div class="active_date" th:text="'发布时间：' + ${active.activeDate} + '&nbsp;|&nbsp;发布人：' + ${active.user.userName}"></div>
            </div>
            <div th:utext="${active.activeText}"></div>
        </div>
    </div>

    <p id="back-to-top"><a href="#top">回到<br/>顶部</a></p>

    <!--底部-->
    <div class="footer" align="center">
        <p class="copyright">
            Copyright © 2017. All Rights Reserved by dragonhht from
            <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
        </p>
    </div>

</body>
</html>