<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>申请</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin_agree.css}"/>
    <script th:src="@{/js/admin_agree.js}"></script>
</head>
<body>
<!--顶部-->
<div class="top_logo">
        <span class="logo_img">
            <img th:src="@{/img/flowbook1.png}"/>
        </span>
    <ul id="top_ul">
        <li>
            <th:block th:if="${session.user eq null}">
                <a th:href="@{/login}" onclick="selectNav(this)">登录</a> |
                <a th:href="@{/register}" onclick="selectNav(this)">注册</a>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <a th:href="@{/user/userHome}" onclick="selectNav(this)">
                    <span th:text="${session.user.getUserName()}"></span>
                    <img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                         th:src="@{/img/havemsg.png}"/>
                </a>|
                <a th:href="@{/user/logout}" onclick="selectNav(this)">注销</a>
            </th:block>

        </li>
        <li><a href="#" onclick="selectNav(this)">活动</a></li>
        <li><a th:href="@{/notice/{pageNum} (pageNum = 1)}" onclick="selectNav(this)">公告</a></li>
        <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;">首页</a></li>
    </ul>
</div>

<!--页面中部-->
<div class="center_bg">

    <input hidden="hidden" id="userId" th:value="${session.user.userId}"/>

    <!--左边内容-->
    <div class="center_left">
        <ul class="nav nav-tabs" id="nav_tabs">
            <li class="active" index="0" onclick="selectTab(this)"><a>图书退出申请</a></li>
            <li index="1" onclick="selectTab(this)"><a>活动申请</a></li>
            <li index="2" onclick="selectTab(this)"><a>用户举报</a></li>
            <li index="3" onclick="selectTab(this)"><a>我的传阅申请</a></li>
        </ul>

        <table id="book_contribution" class="table table-responsive">
            <tr>
                <td>内容</td>
                <td>日期</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
            <tr th:each="allApply : ${allBookApplies}">
                <td th:text="${allApply.applyId}"></td>
                <td>
                    <a th:onclick="'javascript:showApply(\''+${allApply.applyId}+'\')'" th:text="${allApply.applyText}"></a>
                </td>
                <td th:text="${allApply.applyDate}"></td>
                <td th:text="${allApply.status}"></td>
                <td>
                    <button th:if="${allApply.status == '待审批'}" th:onclick="'javascript:showApply(\''+${allApply.applyId}+'\')'" class="btn btn-warning">处理</button>
                </td>
            </tr>
        </table>

        <table id="book_now_have" class="table table-responsive" hidden="hidden">
            <tr>
                <!--<td>传阅申请编号</td>-->
                <td>申请图书</td>
                <td>说明</td>
                <td>日期</td>
                <td>状态</td>
                <td>查看</td>
            </tr>
            <!--<tr th:each="allApply : ${notApplies}">
                &lt;!&ndash;<td th:text="${allApply.id}"></td>&ndash;&gt;
                <td>
                    <a th:href="@{/tourist/bookMessage/{bookId}(bookId = ${allApply.book.bookId})}" target="_blank"
                       th:text="${allApply.book.bookName}"></a>
                </td>
                <td th:text="${allApply.wantSay}"></td>
                <td th:text="${allApply.applyDate}"></td>
                <th:block th:if="${allApply.status eq 0}">
                    <td>未处理</td>
                </th:block>
                <th:block th:if="${allApply.status eq 1}">
                    <td>已完成</td>
                </th:block>
                <th:block th:if="${allApply.status eq 2}">
                    <td>拒绝</td>
                </th:block>
                <th:block th:if="${allApply.status eq 3}">
                    <td>处理中</td>
                </th:block>
                <th>
                    <button th:onclick="'javascript:showApply(\''+${allApply.id}+'\')'" class="btn btn-info">查看</button>
                </th>
            </tr>-->
        </table>

        <table id="book_borrow" class="table table-responsive" hidden="hidden">
            <tr>
                <!--<td>传阅申请编号</td>-->
                <td>申请图书</td>
                <td>说明</td>
                <td>日期</td>
                <td>状态</td>
                <td>查看</td>
            </tr>
            <!--<tr th:each="allApply : ${dealingApplies}">
                &lt;!&ndash;<td th:text="${allApply.id}"></td>&ndash;&gt;
                <td>
                    <a th:href="@{/tourist/bookMessage/{bookId}(bookId = ${allApply.book.bookId})}" target="_blank"
                       th:text="${allApply.book.bookName}"></a>
                </td>
                <td th:text="${allApply.wantSay}"></td>
                <td th:text="${allApply.applyDate}"></td>
                <th:block th:if="${allApply.status eq 0}">
                    <td>未处理</td>
                </th:block>
                <th:block th:if="${allApply.status eq 1}">
                    <td>已完成</td>
                </th:block>
                <th:block th:if="${allApply.status eq 2}">
                    <td>拒绝</td>
                </th:block>
                <th:block th:if="${allApply.status eq 3}">
                    <td>处理中</td>
                </th:block>
                <th>
                    <button th:onclick="'javascript:showApply(\''+${allApply.id}+'\')'" class="btn btn-info">查看</button>
                </th>
            </tr>-->
        </table>

        <table id="notice" class="table table-responsive" hidden="hidden">
            <tr>
                <!--<td>传阅申请编号</td>-->
                <td>申请图书</td>
                <td>说明</td>
                <td>日期</td>
                <td>状态</td>
                <td>查看</td>
            </tr>
            <!--<tr th:each="allApply : ${myApplies}">
                &lt;!&ndash;<td th:text="${allApply.id}"></td>&ndash;&gt;
                <td>
                    <a th:href="@{/tourist/bookMessage/{bookId}(bookId = ${allApply.book.bookId})}" target="_blank"
                       th:text="${allApply.book.bookName}"></a>
                </td>
                <td th:text="${allApply.wantSay}"></td>
                <td th:text="${allApply.applyDate}"></td>
                <th:block th:if="${allApply.status eq 0}">
                    <td>未处理</td>
                </th:block>
                <th:block th:if="${allApply.status eq 1}">
                    <td>已完成</td>
                </th:block>
                <th:block th:if="${allApply.status eq 2}">
                    <td>拒绝</td>
                </th:block>
                <th:block th:if="${allApply.status eq 3}">
                    <td>处理中</td>
                </th:block>
                <th>
                    <th:block th:if="${allApply.status eq 3}">
                        <button th:onclick="'javascript:showApplyOk(\''+${allApply.id}+'\')'" class="btn btn-warning">处理</button>
                    </th:block>
                    <th:block th:unless="${allApply.status eq 3}">
                        <button th:onclick="'javascript:showApply(\''+${allApply.id}+'\')'" class="btn btn-info">查看</button>
                    </th:block>
                </th>
            </tr>-->
        </table>

    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::user_right"></div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--展示图书退出申请-->
<div class="update_div" id="show_apply" hidden="hidden">
    <div class="close" onclick="hideUpdateDiv(this)" align="right">x</div>
    <span class="update_top"></span>
    <input hidden="hidden" id="applyId" type="text" />
    <div class="form-group">
        <label for="applyText">申请内容：</label>
        <span  id="applyText"></span>
    </div>
    <div class="form-group">
        <label for="applyForBook">相关书籍编号：</label>
        <span  id="applyForBook"><a>书籍编号</a></span>
    </div>
    <div class="form-group">
        <label for="applyForImg">图书损坏图片：</label>
        <div>
        <span id="applyForImg" class="book_img_div">

        </span>
        </div>
    </div>
    <div class="form-group">
        <label for="applyForStatus">申请状态：</label>
        <span  id="applyForStatus">待审批</span>
    </div>
    <div class="form-group" id="dealBookOut">

    </div>
</div>
</body>
</html>