<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>$Title$</title>
    <script th:src="@{/js/assembly.js}" type="text/javascript"></script>
</head>
<body>
    <!--搜索框-->
    <div class="center_search" id="center_search" th:fragment="center_search">
        <form class="form-inline" th:action="@{/tourist/search}" method="post">
            <ul class="nav nav-tabs" id="search_ul" style="width: 500px">
                <li class="active" onclick="selectSearchType(this)"><a index="bookName">书名</a></li>
                <li onclick="selectSearchType(this)"><a index="author">作者</a></li>
                <li onclick="selectSearchType(this)"><a index="publish">出版社</a></li>
                <li onclick="selectSearchType(this)"><a index="user">用户</a></li>
            </ul>
            <div class="search_input_div">
                <input type="text" name="target" hidden="hidden" value="bookName" id="search_flag" />
                <input type="number" hidden="hidden" name="pageNum" value="0" />
                <input name="searchText" type="text" class="search_input" placeholder="请输入您要搜索的内容" />
                <button type="submit" class="btn btn-lg btn-warning">搜索</button>
            </div>
        </form>
    </div>

    <!--右边内容-->
    <div class="center_right" th:fragment="user_right">
        <div class="right_img">
            <img th:src="@{${session.user.getUserImg()}}" class="img-thumbnail" />
            <div class="img_user">
                <span class="user_name" th:text="${session.user.getUserName()}"></span><br/>
                <div class="img_user_credit">
                    <label>信用：</label>
                    <span>星级现实</span>
                </div>
            </div>
        </div>

        <div class="right_select">
            <ul class="list-group">
                <li class="list-group-item">
                    <a th:href="@{/user/userHome}">
                        个人信息
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./upload_book.html">
                        新书漂流
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        我的好友
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./upload_notice.html">
                        我的书籍期望
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./book_apply.html">
                        申请
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        图书传阅
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>