<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>组件</title>
</head>
<body>

<!--带搜索的导航-->
<div th:fragment="navWithSearch">
    <nav class="navbar navbar-default navber-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="cursor: pointer;">九江学院图书漂流</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;"><span
                        class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-tasks"></span> 用户寻书</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-eur"></span> 新书漂流</a></li>

            </ul>

            <form class="top_form">
                <input type="text"/>
                <i class="glyphicon glyphicon-search" style="position: absolute; top: 5px; right: 60px;"></i>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <th:block th:if="${session.user eq null}">
                    <li><a th:href="@{/login}" onclick="selectNav(this)"><span
                            class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li><a th:href="@{/register}" onclick="selectNav(this)"><span
                            class="glyphicon glyphicon-leaf"></span>注册</a></li>
                </th:block>
                <th:block th:unless="${session.user eq null}">
                    <li>
                        <a th:href="@{/user/userHome}" onclick="selectNav(this)">
                            <img class="img-circle" th:src="@{${session.user.userImg}}"
                                 style="width: 30px;height: 30px;margin-top: -10px"/>
                            <span th:text="${session.user.userName}"></span></a>
                    </li>
                    <li><a th:href="@{/user/logout}" onclick="selectNav(this)"><span
                            class="glyphicon glyphicon-log-in"></span> 注销</a></li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>

<!--不带搜索的导航-->
<div th:fragment="navNoSearch">
    <nav class="navbar navbar-default navber-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="cursor: pointer;">九江学院图书漂流</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;"><span
                        class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-tasks"></span> 用户寻书</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-eur"></span> 新书漂流</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <th:block th:if="${session.user eq null}">
                    <li><a th:href="@{/login}" onclick="selectNav(this)"><span
                            class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li><a th:href="@{/register}" onclick="selectNav(this)"><span
                            class="glyphicon glyphicon-leaf"></span>注册</a></li>
                </th:block>
                <th:block th:unless="${session.user eq null}">
                    <li>
                        <a th:href="@{/user/userHome}" onclick="selectNav(this)">
                            <img class="img-circle" th:src="@{${session.user.userImg}}"
                                 style="width: 30px;height: 30px;margin-top: -10px"/>
                            <span th:text="${session.user.userName}"></span></a>
                    </li>
                    <li><a th:href="@{/user/logout}" onclick="selectNav(this)"><span
                            class="glyphicon glyphicon-log-in"></span> 注销</a></li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>

<!--用户右侧导航-->
<div class="center_right" th:fragment="navUserRight">
    <div class="right_img">
        <img th:src="@{${session.user.userImg}}" class="img-thumbnail user_img"/>
        <div class="img_user">
            <span class="user_name" th:text="${session.user.getUserName()}"></span><br/>
            <div class="img_user_credit">
                <label>信用：</label>
                <span>
                    <th:block th:unless="${session.user.getCredit() eq 0}">
                        <th:block th:each="num : ${#numbers.sequence(1, session.user.getCredit())}">
                            <a style="line-height: 30px">
                                <i class="glyphicon glyphicon-star" style="color: green;font-size: small"></i>
                            </a>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${session.user.getCredit() eq 5}">
                        <th:block th:each="num : ${#numbers.sequence(session.user.getCredit()+1, 5)}">
                            <a style="line-height: 30px">
                                <i class="glyphicon glyphicon-star-empty" style="color: green;font-size: small"></i>
                            </a>
                        </th:block>
                    </th:block>
                </span>
            </div>
        </div>
    </div>

    <div class="right_select">
        <ul class="list-group">
            <li class="list-group-item">
                <a th:href="@{/user/userHome}">
                    <span>个人信息</span>
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/user/uploadBook}">
                    <span>新书漂流</span>
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/user/userFriend}">
                    <span>我的好友</span>
                    <!--<img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                         th:src="@{/img/havemsg.png}" />-->
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/user/uploadNotice}">
                    <span>寻书</span>
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/user/apply}">
                    <span>申请</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <span>图书传阅</span>
                </a>
            </li>
            <!--<th:block th:if="${session.role eq 'admin'}">
                <li class="list-group-item">
                    <a th:href="@{/admin/adminAgree}">
                        <span>管理员审核</span>
                    </a>
                </li>
            </th:block>-->
        </ul>
    </div>
</div>
</body>
</html>