<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>申请</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/book_apply.css}" />
    <script th:src="@{/js/book_apply.js}" ></script>
</head>
<body>
<!--顶部-->
<nav class="navbar navbar-default navber-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/index}" class="navbar-brand">图书漂流</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;"><span
                    class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a th:href="@{/notice/{pageNum} (pageNum = 1)}" onclick="selectNav(this)"><span
                    class="glyphicon glyphicon-tasks"></span> 公告</a></li>
            <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
            <th:block th:if="${session.user eq null}">
                <li><a th:href="@{/login}" onclick="selectNav(this)"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                </li>
                <li><a th:href="@{/register}" onclick="selectNav(this)"><span class="glyphicon glyphicon-leaf"></span>
                    注册</a></li>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <li class="active"><a th:href="@{/user/userHome}" onclick="selectNav(this)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span th:text="${session.user.getUserName()}"></span>
                    <img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                         th:src="@{/img/havemsg.png}"/>
                </a>
                </li>
                <li><a th:href="@{/user/logout}" onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-log-out"></span>
                    注销</a></li>
            </th:block>
        </ul>
    </div>
</nav>

<!--页面中部-->
<div class="center_bg">

    <input hidden="hidden" id="userId" th:value="${session.user.userId}" />

    <!--左边内容-->
    <div class="center_left">
        <ul class="nav nav-tabs" id="nav_tabs">
            <li class="active" index="0" onclick="selectTab(this)"><a>申请记录</a></li>
            <li index="1" onclick="selectTab(this)"><a>待批申请</a></li>
            <li index="2" onclick="selectTab(this)"><a>已批申请</a></li>
            <li index="3" onclick="selectTab(this)"><a>提交新申请</a></li>
        </ul>

        <table id="book_contribution" class="table table-responsive">
            <tr>
                <td>申请编号</td>
                <td>内容</td>
                <td>日期</td>
                <td>状态</td>
            </tr>
            <tr th:each="allApply : ${allApplies}">
                <td th:text="${allApply.applyId}"></td>
                <td>
                    <a th:onclick="'javascript:showApply(\''+${allApply.applyId}+'\')'" th:text="${allApply.applyText}"></a>
                </td>
                <td th:text="${allApply.applyDate}"></td>
                <td th:text="${allApply.status}"></td>
            </tr>
        </table>

        <table id="book_now_have" class="table table-responsive" hidden="hidden">
            <tr>
                <td>申请编号</td>
                <td>内容</td>
                <td>日期</td>
                <td>状态</td>
            </tr>
            <tr th:each="waitApply : ${waitApplies}">
                <td th:text="${waitApply.applyId}"></td>
                <td>
                    <a th:onclick="'javascript:showApply(\''+${waitApply.applyId}+'\')'" th:text="${waitApply.applyText}"></a>
                </td>
                <td th:text="${waitApply.applyDate}"></td>
                <td th:text="${waitApply.status}"></td>
            </tr>
        </table>

        <table id="book_borrow" class="table table-responsive" hidden="hidden">
            <tr>
                <td>申请编号</td>
                <td>内容</td>
                <td>日期</td>
                <td>状态</td>
            </tr>
            <tr th:each="passApply : ${passApplies}">
                <td th:text="${passApply.applyId}"></td>
                <td>
                    <a th:onclick="'javascript:showApply(\''+${passApply.applyId}+'\')'" th:text="${passApply.applyText}"></a>
                </td>
                <td th:text="${passApply.applyDate}"></td>
                <td th:text="${passApply.status}"></td>
            </tr>
        </table>

        <div id="notice" hidden="hidden">
            <ul class="pagination">
                <li class="active"><a>申请图书退出系统</a></li>
                <li ><a>申请活动显示</a></li>
            </ul>

            <div class="apply_out">
                <form class="form-horizontal" enctype="multipart/form-data" method="post" th:action="@{/user/applyOut}">

                    <div class="form-group" style="margin-left: auto;margin-right: auto;">
                        <label class="col-sm-2 control-label">图书漂流编号：</label>
                        <div class="col-sm-7">
                            <input type="text" name="bookId" id="bookId" class="form-control"  />
                        </div>
                        <div class="col-sm-3" id="select_book">
                            <a index="name" onclick="showUpdateDiv(this)">选择图书</a>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: auto;margin-right: auto;">
                        <label class="col-sm-2 control-label">图书损坏图片：</label>
                        <div>
                        <span id="addImg" class="book_img_div">
                            <img style="width: 150px;height: 200px;" th:src="@{/img/add_img.png}" />
                            <input name="img" type="file" hidden="hidden" style="display: none" />
                        </span>
                        </div>
                    </div>
                    <div class="form-group upload_btn">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">提交申请</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::user_right"></div>
</div>

<!--选择图书-->
<div class="update_div" id="update_name" hidden="hidden">
    <span class="update_top"></span>
    <div class="close" onclick="hideUpdateDiv(this)" align="right">x</div>
    <table class="table table-responsive">
        <tr>
            <td>图书编号</td>
            <td>图书名</td>
            <td>出版社</td>
            <td>作者</td>
            <td>选择</td>
        </tr>
        <tr th:each="book : ${canApplyBook}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.publish}"></td>
            <td th:text="${book.author}"></td>
            <td>
                <button th:onclick="'javascript:selectBook(\''+${book.bookId}+'\')'" class="btn btn-info">选择</button>
            </td>
        </tr>
    </table>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--选择图片-->
<div class="update_div" id="update_img" hidden="hidden">
    <div class="close" onclick="hideUpdateDiv(this)" align="right">x</div>
    <span class="update_top" id="imgResult"></span>
    <form id="imgForm">
        <div class="form-group form_group" style="margin-left: auto;margin-right: auto;">
            <label class="col-sm-2 control-label">损坏图片：&nbsp;&nbsp;&nbsp;</label>
            <div class="col-sm-7">
                <input type="file" id="uploadImg" name="uploadImg" placeholder="请选择图书封面图片" />
                <input id="imgIndex" hidden="hidden" name="index" value="0" />
                <input id="applyBookId" hidden="hidden" name="bookId" value="0"/>
            </div>
        </div>
        <div class="form-group form_group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="updateImgBtn" class="btn btn-primary">确定修改</button>
            </div>
        </div>
    </form>
</div>

<!--展示申请-->
<div class="update_div" id="show_apply" hidden="hidden">
    <div class="close" onclick="hideUpdateDiv(this)" align="right">x</div>
    <span class="update_top"></span>
    <div class="form-group">
        <label for="applyText">申请内容：</label>
        <span  id="applyText"></span>
    </div>
    <div class="form-group">
        <label for="applyForBook">相关书籍编号：</label>
        <span  id="applyForBook"><a>书籍编号</a></span>
    </div>
    <div class="form-group">
        <label for="applyForImg">图书损坏图片：</label>
        <div>
        <span id="applyForImg" class="book_img_div">

        </span>
        </div>
    </div>
    <div class="form-group">
        <label for="applyForStatus">申请状态：</label>
        <span  id="applyForStatus">待审批</span>
    </div>
</div>
</body>
</html>