<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>图书列表</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/book_list.css}" />
    <script th:src="@{/js/book_list.js}" ></script>
</head>
<body>
<!--顶部-->
<nav class="navbar navbar-default navber-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/index}" class="navbar-brand">图书漂流</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;"><span
                    class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a th:href="@{/notice/{pageNum} (pageNum = 1)}" onclick="selectNav(this)"><span
                    class="glyphicon glyphicon-tasks"></span> 用户寻书</a></li>
            <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
            <th:block th:if="${session.user eq null}">
                <li><a th:href="@{/login}" onclick="selectNav(this)"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                </li>
                <li><a th:href="@{/register}" onclick="selectNav(this)"><span class="glyphicon glyphicon-leaf"></span>
                    注册</a></li>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <li><a th:href="@{/user/userHome}" onclick="selectNav(this)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span th:text="${session.user.getUserName()}"></span>
                    <img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                         th:src="@{/img/havemsg.png}"/>
                </a>
                </li>
                <li><a th:href="@{/user/logout}" onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-log-out"></span>
                    注销</a></li>
            </th:block>
        </ul>
    </div>
</nav>

    <!--页面中部-->
    <div class="center_bg">

        <div class="center_search" id="center_search" th:include="assembly::center_search">
        </div>

        <div class="search_list_div">

            <!--一条图书信息-->
            <div class="book_message_div" th:each="book : ${books}">
                <div class="img_div">
                    <a th:href="@{/tourist/bookMessage/{bookId}(bookId = ${book.bookId})}" target="_blank">
                        <img th:src="@{${book.bookImg}}" />
                    </a>
                </div>
                <div class="book_message_message_div">
                    <a th:href="@{/tourist/bookMessage/{bookId}(bookId = ${book.bookId})}" target="_blank">
                        <span class="book_name" th:text="${book.bookName}"></span>
                    </a>
                    <div class="book_message">
                        <span>
                            作者：
                            <span th:text="${book.author}"></span>
                        </span>
                        <span>
                            出版社：
                            <span th:text="${book.publish}"></span>
                        </span>
                        <span>
                            评分：
                            <span>
                                <th:block th:unless="${book.bookStart eq 0}">
                            <th:block th:each="num : ${#numbers.sequence(1, book.bookStart)}">
                                <a style="line-height: 30px">
                                    <img th:src="@{/img/light_start.png}" style="height: 20px;width: 20px;margin-bottom: 5px;" />
                                </a>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${book.bookStart eq 5}">
                            <th:block th:each="num : ${#numbers.sequence(book.bookStart+1, 5)}">
                                <a >
                                    <img th:src="@{/img/dark_start.png}" style="height: 20px;width: 20px;margin-bottom: 5px;" />
                                </a>
                            </th:block>
                        </th:block>
                            </span>
                        </span>
                    </div>
                    <div class="book_introduction" th:text="${book.introduction}"></div>
                </div>
            </div>

            <div class="book_list__page_btn" align="center">
                <nav>
                    <ul th:if="${byType eq null }" class="pagination">
                        <th:block th:if="${1 eq nowPage}">
                            <li class="disabled"><a >首页</a> </li>
                            <li class="previous disabled"><a>上一页</a> </li>
                        </th:block>
                        <th:block th:unless="${1 eq nowPage}">
                            <li><a th:onclick="'javascript:selectPage(\''+${1}+'\')'">首页</a> </li>
                            <li class="previous"><a th:onclick="'javascript:selectPage(\''+${nowPage -1}+'\')'">上一页</a> </li>
                        </th:block>

                        <th:block th:if="${nowPage-2 gt 0}">
                            <li><a href="#">...</a> </li>
                            <li><a th:onclick="'javascript:selectPage(\''+${nowPage -2}+'\')'" th:text="${nowPage - 2}"></a></li>
                        </th:block>

                        <li th:if="${nowPage-1 gt 0}">
                            <a th:onclick="'javascript:selectPage(\''+${nowPage -1}+'\')'" th:text="${nowPage - 1}"></a>
                        </li>

                        <li class="active"><a href="#" th:text="${nowPage}"></a> </li>

                        <li th:if="${nowPage+1 le lastPage}">
                            <a th:onclick="'javascript:selectPage(\''+${nowPage + 1}+'\')'" th:text="${nowPage + 1}"></a>
                        </li>

                        <li th:if="${nowPage+2 le lastPage}">
                            <a th:onclick="'javascript:selectPage(\''+${nowPage + 2}+'\')'" th:text="${nowPage + 2}"></a>
                        </li>

                        <li th:if="${nowPage+2 lt lastPage}"><a href="#">...</a> </li>

                        <th:block th:if="${lastPage eq nowPage}">
                            <li class="next disabled"><a>下一页</a> </li>
                            <li class="disabled"><a>尾页</a> </li>
                        </th:block>
                        <th:block th:unless="${lastPage eq nowPage}">
                            <li class="next"><a th:onclick="'javascript:selectPage(\''+${nowPage +1}+'\')'">下一页</a> </li>
                            <li><a th:onclick="'javascript:selectPage(\''+${lastPage}+'\')'">尾页</a> </li>
                        </th:block>
                    </ul>

                    <ul th:unless="${byType eq null }" class="pagination">
                        <th:block th:if="${1 eq nowPage}">
                            <li class="disabled"><a >首页</a> </li>
                            <li class="previous disabled"><a>上一页</a> </li>
                        </th:block>
                        <th:block th:unless="${1 eq nowPage}">
                            <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = 1)}">首页</a> </li>
                            <li class="previous"><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage -1})}">上一页</a> </li>
                        </th:block>

                        <th:block th:if="${nowPage-2 gt 0}">
                            <li><a href="#">...</a> </li>
                            <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage - 2})}" th:text="${nowPage - 2}"></a></li>
                        </th:block>

                        <li th:if="${nowPage-1 gt 0}">
                            <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage - 1})}" th:text="${nowPage - 1}"></a>
                        </li>

                        <li class="active"><a href="#" th:text="${nowPage}"></a> </li>

                        <li th:if="${nowPage+1 le lastPage}">
                            <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage + 1})}" th:text="${nowPage + 1}"></a>
                        </li>

                        <li th:if="${nowPage+2 le lastPage}">
                            <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage + 2})}" th:text="${nowPage + 2}"></a>
                        </li>

                        <li th:if="${nowPage+2 lt lastPage}"><a href="#">...</a> </li>

                        <th:block th:if="${lastPage eq nowPage}">
                            <li class="next disabled"><a>下一页</a> </li>
                            <li class="disabled"><a>尾页</a> </li>
                        </th:block>
                        <th:block th:unless="${lastPage eq nowPage}">
                            <li class="next"><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage + 1})}">下一页</a> </li>
                            <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${lastPage})}">尾页</a> </li>
                        </th:block>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="book_type" th:text="${lastPage}">
            图书分类
        </div>


    </div>

    <p id="back-to-top"><a href="#top">回到<br/>顶部</a></p>

    <!--底部-->
    <div class="footer" align="center">
        <p class="copyright">
            Copyright © 2017. All Rights Reserved by dragonhht from
            <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
        </p>
    </div>
</body>

<!--选择页面-->
<script th:inline="javascript">
    function  selectPage(num) {
        var searchtext = [[${searchText}]];
        var target = [[${target}]];
        /*<![CDATA[*/
        window.location.replace("../tourist/search?searchText=" + searchtext + "&target=" + target + "&pageNum=" + num);
        /*]]>*/
    }
</script>

</html>