<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script th:src="@{/js/index.js}" ></script>
</head>
<body>
    <!--顶部-->
    <div class="top_logo">
        <span class="logo_img">
            <img th:src="@{/img/flowbook1.png}" />
        </span>
        <ul id="top_ul">
            <li>
                <th:block th:if="${session.user eq null}">
                    <a th:href="@{/login}" onclick="selectNav(this)">登录</a> |
                    <a th:href="@{/register}" onclick="selectNav(this)">注册</a>
                </th:block>
                <th:block th:unless="${session.user eq null}">
                    <a th:href="@{/user/userHome}" onclick="selectNav(this)" th:text="${session.user.getUserName()}"></a> |
                    <a th:href="@{/user/logout}" onclick="selectNav(this)">注销</a>
                </th:block>

            </li>
            <li><a href="#" onclick="selectNav(this)">活动</a></li>
            <li><a th:href="@{/notice/{pageNum} (pageNum = 0)}" onclick="selectNav(this)">公告</a></li>
            <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;">首页</a></li>
        </ul>
    </div>

    <!--中部-->
    <div class="center_bg">
        <div class="center_search" id="center_search" th:include="assembly::center_search">
        </div>

        <!--分类-->
        <div class="center_type">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" target="_blank">文学类</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">教科书</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">自然科学</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">社会科学</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">刊物</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">艺术</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">综合性图书</a>
                </li>
            </ul>
        </div>

        <!--中部活动展示-->
        <div class="center_activity" id="center_activity">
            <div class="center_activity_list" id="center_activity_list" style="left: -681px;">
                <ul>
                    <li>
                        <a href="#">
                            <img th:src="@{/img/qwe.gif}" title="2" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img th:src="@{/img/21.png}" title="1" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/img/qwe.gif" title="2" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/img/21.png" title="1" />
                        </a>
                    </li>
                </ul>
            </div>

            <div id="activity_buttons">
                <span index="1" class="on"></span>
                <span index="2"></span>
            </div>
            <a href="javascript:;" id="activity_prev" class="activity_arrow">&lt;</a>
            <a href="javascript:;" id="activity_next" class="activity_arrow">&gt;</a>
        </div>

        <!--公告-->
        <div class="center_notice">
            <div class="center_notice_title" align="center">
                公告
            </div>
            <div class="list" id="list_div" onmouseover="stopList()" onmouseout="startList()">
            <ul class="list-group" id="run_list">
                <li class="list-group-item" th:each="notice : ${indexNotice}">
                    <a href="#" target="_blank" th:text="${notice.noticeText}"></a>
                </li>
            </ul>
            </div>
        </div>

        <!--推荐图书-->
        <div class="center_recommend_book">
            <span class="recommend_book_label">推荐图书</span>
            <div class="recommend_book_list" id="container">
                <div class="recommend_book_img_list" id="list" style="left: -185px">
                    <ul>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="1" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="2" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="3" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="4" />
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="5" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="1" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="2" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="3" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="4" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="5" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="1" />
                                </a>
                            </div>
                        </li>

                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="2" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="3" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="4" />
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="recommend_book_div">
                                <a href="#" target="_blank">
                                    <img src="../static/img/topbackground.png" title="5" />
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="buttons" id="buttons">
                    <span index="1" class="on"></span>
                    <span index="2"></span>
                    <span index="3"></span>
                    <span index="4"></span>
                    <span index="5"></span>
                </div>
                <a href="javascript:;" class="arrow" id="prev">&lt;</a>
                <a href="javascript:;" class="arrow" id="next">&gt;</a>
            </div>
        </div>

        <!--热门图书-->
        <div class="center_hot_book">
            <span class="hot_book_label">热门图书</span>

            <!--第一行图书-->
            <div class="hot_book_list">
                <ul>
                    <li th:each="hotBook : ${hotBook}">
                        <div class="book_div" align="right">
                            <a th:href="@{/tourist/bookMessage/{bookId}(bookId = ${hotBook.bookId})}" target="_blank" >
                                <img th:src="${hotBook.bookImg}" /><br/>
                                <span th:text="${hotBook.bookName}"></span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <p id="back-to-top"><a href="#top">回到<br/>顶部</a></p>


    <!--底部-->
    <div class="footer" align="center">
        <p class="copyright">
            Copyright © 2017. All Rights Reserved by dragonhht from
            <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
        </p>
    </div>
</body>
</html>