<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>公告</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/notice.css}" />
    <script th:src="@{/js/notice.js}" ></script>
</head>
<body>

<!--顶部-->
<div class="top_logo">
        <span class="logo_img">
            <img th:src="@{/img/flowbook1.png}" />
        </span>
    <ul id="top_ul">
        <li>
            <th:block th:if="${session.user eq null}">
                <a th:href="@{/login}" onclick="selectNav(this)">登录</a> |
                <a th:href="@{/register}" onclick="selectNav(this)">注册</a>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <a th:href="@{/user/userHome}" onclick="selectNav(this)" th:text="${session.user.getUserName()}"></a> |
                <a th:href="@{/user/logout}" onclick="selectNav(this)">注销</a>
            </th:block>

        </li>
        <li><a href="#" onclick="selectNav(this)">活动</a></li>
        <li><a th:href="@{/notice}" onclick="selectNav(this)">公告</a></li>
        <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;">首页</a></li>
    </ul>
</div>

    <!--页面中部-->
    <div class="center_bg">
        <div class="center_left_div">

        </div>
        <div class="center_right_div">
            <span class="notice_title">公告</span>
            <table class="table notice_table">
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="user.html">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="user.html">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="notice_div">
                            <span class="notice_text">
                                <a href="#">公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告信息公告息公告信息公告信息公告信息公告信息公告信息信息公告信息公</a>
                            </span>
                            <div class="publisher_div">
                                <img src="../static/img/21.png" title="用户名" class="img-circle" />
                                <span><a href="#">用户名</a> </span>
                                <span class="date">2017年07月07日 16:00</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="notice_page_btn" align="center">
                <nav>
                    <!--<ul class="pager">
                        <li class="previous"><a href="#">向左</a> </li>
                        <li class="next"><a href="#">向右</a> </li>
                    </ul>-->
                    <ul class="pagination">
                        <li class="disabled"><a href="#">首页</a> </li>
                        <li class="previous disabled"><a href="#">向左</a> </li>
                        <li class="active"><a href="#">1</a> </li>
                        <li><a href="#">2</a> </li>
                        <li><a href="#">...</a> </li>
                        <li><a href="#">54</a> </li>
                        <li class="next"><a href="#">向右</a> </li>
                        <li><a href="#">尾页</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <p id="back-to-top"><a href="#top">回到<br/>顶部</a></p>

    <!--底部-->
    <div class="footer" align="center">
        <p class="copyright">
            Copyright © 2017. All Rights Reserved by dragonhht from
            <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
        </p>
    </div>

</body>
</html>