<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/register.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/alert.css}"/>
</head>
<body>
<!--顶部-->
<div th:include="assembly::navWithSearch"></div>

<nav class="register_flag">用户注册</nav>

<!--页面中部-->
<div class="center_bg">
    <nav class="register_title">
        <ul>
            <li id="title_0" class="active"><i>1</i><span>校验学号</span></li>
            <li id="title_1"><i>2</i><span>填写账号信息</span></li>
            <li id="title_2"><i>3</i><span>绑定手机</span></li>
            <li id="title_3"><i>4</i><span>设置邮箱</span></li>
            <li id="title_4"><i>√</i><span>注册成功</span></li>
        </ul>
    </nav>

    <div class="register_body">
        <!--校验学号-->
        <div id="check_stuId" class="check_stuId">
            <form class="form-horizontal" action="#" method="post">
                <div class="form-group">
                    <label for="stuId" class="col-sm-3 control-label">学号：</label>
                    <div id="idDiv" class="col-sm-5">
                        <input type="text" class="form-control" id="stuId" placeholder="请输入学号"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="stuName" class="col-sm-3 control-label">姓名：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="stuName" placeholder="请输入名字"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">验证码:</label>
                    <div class="col-sm-2">
                        <input type="text" name="verificationCode" class="form-control" placeholder="请输入验证码"/>
                    </div>
                    <div class="col-sm-2">
                        <img onclick="changImg()" src="http://localhost:8080/FlowBook/tourist/captcha_image" id="codeImg"/>
                    </div>
                    <div class="col-sm-2">
                        <a style="line-height: 45px;" onclick="changImg()" id="changImg" class="glyphicon glyphicon-refresh"></a>
                    </div>
                </div>

                <div>
                    <label class="col-sm-3"></label>
                    <div class="form_btn col-sm-4">
                        <button id="stuIdNext" type="button" class="btn btn-block">下一步</button>
                    </div>
                </div>
            </form>
        </div>

        <!--设置账号信息-->
        <div id="account_information" class="check_stuId" hidden="hidden">
            <form class="form-horizontal" action="#" method="post">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">用户名：</label>
                    <div id="userNameDiv" class="col-sm-5">
                        <input type="text" class="form-control" id="username" placeholder="请输入用户名"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">密码：</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" placeholder="请输入密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="repassword" class="col-sm-3 control-label">确认密码：</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="repassword" placeholder="请输入密码"/>
                    </div>
                </div>

                <div>
                    <label class="col-sm-3"></label>
                    <div class="form_btn col-sm-4">
                        <button id="userMessageNext" type="button" class="btn btn-block">下一步</button>
                    </div>
                </div>
            </form>
        </div>

        <!--绑定手机-->
        <div id="check_phone" class="check_stuId" hidden="hidden">
            <form class="form-horizontal" action="#" method="post">
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">手机号：</label>
                    <div id="phoneDiv" class="col-sm-5">
                        <input type="text" class="form-control" id="phone" placeholder="请输入手机号"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phoneNum" class="col-sm-3 control-label">验证码：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="phoneNum" placeholder="请输入手机接收的验证码"/>
                    </div>
                    <div class="col-sm-2">
                        <button id="phoneCodeBtn" type="button" style="height: 45px" class="btn btn-block btn-info">获取验证码</button>
                    </div>
                </div>

                <div>
                    <label class="col-sm-3"></label>
                    <div class="form_btn col-sm-4">
                        <button id="checkPhoneNext" type="button" class="btn btn-block">下一步</button>
                    </div>
                </div>
            </form>
        </div>

        <!--绑定邮箱-->
        <div id="check_email" class="check_stuId" hidden="hidden">
            <form class="form-horizontal" action="#" method="post">
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">电子邮箱：</label>
                    <div id="emailDiv" class="col-sm-5">
                        <input type="text" class="form-control" id="email" placeholder="请输入电子邮箱"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="emailNum" class="col-sm-3 control-label">验证码：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="emailNum" placeholder="请输入邮箱接收的验证码"/>
                    </div>
                    <div class="col-sm-2">
                        <button id="emailCodeBtn" type="button" style="height: 45px" class="btn btn-block btn-info">获取验证码</button>
                    </div>
                </div>

                <div>
                    <label class="col-sm-3"></label>
                    <div class="form_btn col-sm-4">
                        <button id="checkEmailNext" type="button" class="btn btn-block">下一步</button>
                    </div>
                </div>
            </form>
        </div>

        <!--注册成功-->
        <div id="register_success" class="register_success" hidden="hidden">
            <div class="form-group">
                <img th:src="@{/img/right.png}" />
                <span>恭喜您！注册成功</span>
            </div>
            <div class="form-group">
                <label class="col-md-3"></label>
                <a class="btn btn-danger" th:href="@{/login}">前去登录</a>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--添加提示框-->
<div class="alert"></div>

<!--弹出背景-->
<div id="out_bg" class="out_bg"></div>

<!--协议展示框-->
<div class="update_div" id="update_phone">
    <div class="showDiv">
        <h3 style="text-align: center;">用户注册协议</h3>
        <p><b>&nbsp;&nbsp; 用户注册成功时则表示同意以下规则：</b></p>
        <p><ol><li><b>&nbsp;违规处理：用户违反使用条例时，将会受到信用降星处理，违反一次则扣减一星，至少保留一个星的信用度。用户信用星级小于或等于三星时，则无法借阅书籍。切记：信用一旦降星则无法回升</b></li><li><b>&nbsp;图书传阅：用户申请图书传阅，若当前图书拥有者获取图书的时间未满一个月，则拥有者有权拒绝申请，但如果已满一个月，无特殊情况外，则拥有者必须同意申请，否则做违规处理。当前拥有者同意传阅申请后，双方请在三天内传阅书籍</b></li></ol></p>
        <p><ol><li><b>&nbsp;违规处理：用户违反使用条例时，将会受到信用降星处理，违反一次则扣减一星，至少保留一个星的信用度。用户信用星级小于或等于三星时，则无法借阅书籍。切记：信用一旦降星则无法回升</b></li><li><b>&nbsp;图书传阅：用户申请图书传阅，若当前图书拥有者获取图书的时间未满一个月，则拥有者有权拒绝申请，但如果已满一个月，无特殊情况外，则拥有者必须同意申请，否则做违规处理。当前拥有者同意传阅申请后，双方请在三天内传阅书籍</b></li></ol></p>
        <p><ol><li><b>&nbsp;违规处理：用户违反使用条例时，将会受到信用降星处理，违反一次则扣减一星，至少保留一个星的信用度。用户信用星级小于或等于三星时，则无法借阅书籍。切记：信用一旦降星则无法回升</b></li><li><b>&nbsp;图书传阅：用户申请图书传阅，若当前图书拥有者获取图书的时间未满一个月，则拥有者有权拒绝申请，但如果已满一个月，无特殊情况外，则拥有者必须同意申请，否则做违规处理。当前拥有者同意传阅申请后，双方请在三天内传阅书籍</b></li></ol></p>
        <p><ol><li><b>&nbsp;违规处理：用户违反使用条例时，将会受到信用降星处理，违反一次则扣减一星，至少保留一个星的信用度。用户信用星级小于或等于三星时，则无法借阅书籍。切记：信用一旦降星则无法回升</b></li><li><b>&nbsp;图书传阅：用户申请图书传阅，若当前图书拥有者获取图书的时间未满一个月，则拥有者有权拒绝申请，但如果已满一个月，无特殊情况外，则拥有者必须同意申请，否则做违规处理。当前拥有者同意传阅申请后，双方请在三天内传阅书籍</b></li></ol></p>
        <p><ol><li><b>&nbsp;违规处理：用户违反使用条例时，将会受到信用降星处理，违反一次则扣减一星，至少保留一个星的信用度。用户信用星级小于或等于三星时，则无法借阅书籍。切记：信用一旦降星则无法回升</b></li><li><b>&nbsp;图书传阅：用户申请图书传阅，若当前图书拥有者获取图书的时间未满一个月，则拥有者有权拒绝申请，但如果已满一个月，无特殊情况外，则拥有者必须同意申请，否则做违规处理。当前拥有者同意传阅申请后，双方请在三天内传阅书籍</b></li></ol></p>

    </div>
    <div id="okDiv" align="center">
        <button id="okBtn" class="btn btn-danger" disabled="disabled">同意协议(0S)</button>
    </div>
</div>

</body>
</html>