<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>搜索结果</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/search_book.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/search_book.js}" type="text/javascript"></script>
</head>
<body>
<!--顶部-->
<div th:include="assembly::navNoSearch"></div>

<!--页面中部-->
<div class="center_bg">

    <!--搜索框-->
    <div class="center_search" id="center_search" th:include="assembly::searchDiv"></div>

    <div class="book_type">
        <nav class="book_type_title">类型</nav>
        <form method="get" th:action="@{/tourist/search/filter}">
            <input type="text" hidden="hidden" id="target" name="target" th:value="${target}"/>
            <input type="text" hidden="hidden" id="searchText" name="searchText" th:value="${searchText}"/>
            <input type="text" hidden="hidden" name="pageNum" th:value="1"/>
            <ul class="list-group">
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="1"/>
                    <span>文学类</span>
                </span>
                </li>
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="2"/>
                    <span>教材</span>
                </span>
                </li>
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="3"/>
                    <span>自然科学</span>
                </span>
                </li>
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="4"/>
                    <span>社会科学</span>
                </span>
                </li>
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="5"/>
                    <span>刊物</span>
                </span>
                </li>
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="6"/>
                    <span>艺术</span>
                </span>
                </li>
                <li class="list-group-item">
                <span>
                    <input type="radio" name="typeList" value="7"/>
                    <span>综合类图书</span>
                </span>
                </li>
            </ul>

            <div class="book_type_btn">
                <button class="btn btn-info" name="ok" value="true">确定</button>
                <button class="btn" name="ok" value="false">清空</button>
            </div>
        </form>
    </div>

    <div class="search_list_div">

        <!--一条图书信息-->
        <div class="book_message_div" th:each="book : ${books}">
            <div class="img_div">
                <a th:href="@{/tourist/bookMessage/{bookId} (bookId = ${book.bookId})}" target="_blank">
                    <img th:src="@{${book.bookImg}}"/>
                </a>
            </div>
            <div class="book_message_message_div">
                <a th:href="@{/tourist/bookMessage/{bookId} (bookId = ${book.bookId})}" target="_blank">
                    <span class="book_name" th:text="${book.bookName}"></span>
                </a>
                <div class="book_message">
                    <span>
                        作者：
                        <span th:text="${book.author}"></span>
                    </span>
                    <span>
                        出版社：
                        <span th:text="${book.publish}"></span>
                    </span>
                    <span>
                        评分：
                        <!--<span>
                            <a style="line-height: 30px">
                                <img src="../img/light_start.png" style="height: 20px;width: 20px;margin-bottom: 5px;" />
                            </a>
                            </span>-->

                        <span>
                             <th:block th:unless="${book.bookStart eq 0}">
                                 <th:block th:each="num : ${#numbers.sequence(1, book.bookStart)}">
                                     <a style="line-height: 30px">
                                         <i class="glyphicon glyphicon-star" style="color: green;font-size: small"></i>
                                     </a>
                                 </th:block>
                             </th:block>
                            <th:block th:unless="${book.bookStart eq 5}">
                                <th:block th:each="num : ${#numbers.sequence(book.bookStart+1, 5)}">
                                    <a>
                                        <i class="glyphicon glyphicon-star-empty"
                                           style="color: green;font-size: small"></i>
                                    </a>
                                </th:block>
                            </th:block>
                        </span>
                    </span>

                </div>
                <div class="book_introduction" th:text="${book.introduction}"></div>
            </div>
        </div>

        <div class="book_list_page_btn" align="center">

            <th:block th:unless="${typeId eq null}">
                <nav>
                    <ul class="pagination">
                        <th:block th:if="${1 eq nowPage}">
                            <li class="disabled"><a>首页</a></li>
                            <li class="previous disabled"><a>上一页</a></li>
                        </th:block>
                        <th:block th:unless="${1 eq nowPage}">
                            <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = 1)}">首页</a></li>
                            <li class="previous"><a
                                    th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${nowPage - 1})}">上一页</a>
                            </li>
                        </th:block>

                        <th:block th:if="${nowPage-2 gt 0}">
                            <li><a href="#">...</a></li>
                            <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${nowPage - 2})}"
                                   th:text="${nowPage - 2}"></a></li>
                        </th:block>

                        <li th:if="${nowPage-1 gt 0}">
                            <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${nowPage - 1})}"
                               th:text="${nowPage - 1}"></a>
                        </li>

                        <li class="active"><a href="#" th:text="${nowPage}"></a></li>

                        <li th:if="${nowPage+1 le lastPage}">
                            <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${nowPage + 1})}"
                               th:text="${nowPage + 1}"></a>
                        </li>

                        <li th:if="${nowPage+2 le lastPage}">
                            <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${nowPage + 2})}"
                               th:text="${nowPage + 2}"></a>
                        </li>

                        <li th:if="${nowPage+2 lt lastPage}"><a href="#">...</a></li>

                        <th:block th:if="${lastPage le nowPage}">
                            <li class="next disabled"><a>下一页</a></li>
                            <li class="disabled"><a>尾页</a></li>
                        </th:block>
                        <th:block th:unless="${lastPage le nowPage}">
                            <li class="next"><a
                                    th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${nowPage + 1})}">下一页</a>
                            </li>
                            <li>
                                <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = ${typeId}, pageNum = ${lastPage})}">尾页</a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </th:block>
            <th:block th:if="${type eq null}">
                <nav>
                    <ul class="pagination">
                        <th:block th:if="${1 eq nowPage}">
                            <li class="disabled"><a>首页</a></li>
                            <li class="previous disabled"><a>上一页</a></li>
                        </th:block>
                        <th:block th:unless="${1 eq nowPage}">
                            <li><a th:onclick="'javascript:selectPage(\''+${1}+'\')'">首页</a></li>
                            <li class="previous"><a
                                    th:onclick="'javascript:selectPage(\''+${nowPage-1}+'\')'">上一页</a>
                            </li>
                        </th:block>

                        <th:block th:if="${nowPage-2 gt 0}">
                            <li><a href="#">...</a></li>
                            <li><a th:onclick="'javascript:selectPage(\''+${nowPage-2}+'\')'"
                                   th:text="${nowPage - 2}"></a></li>
                        </th:block>

                        <li th:if="${nowPage-1 gt 0}">
                            <a th:onclick="'javascript:selectPage(\''+${nowPage-1}+'\')'"
                               th:text="${nowPage - 1}"></a>
                        </li>

                        <li class="active"><a href="#" th:text="${nowPage}"></a></li>

                        <li th:if="${nowPage+1 le lastPage}">
                            <a th:onclick="'javascript:selectPage(\''+${nowPage+1}+'\')'"
                               th:text="${nowPage + 1}"></a>
                        </li>

                        <li th:if="${nowPage+2 le lastPage}">
                            <a th:onclick="'javascript:selectPage(\''+${nowPage+2}+'\')'"
                               th:text="${nowPage + 2}"></a>
                        </li>

                        <li th:if="${nowPage+2 lt lastPage}"><a href="#">...</a></li>

                        <th:block th:if="${lastPage le nowPage}">
                            <li class="next disabled"><a>下一页</a></li>
                            <li class="disabled"><a>尾页</a></li>
                        </th:block>
                        <th:block th:unless="${lastPage le nowPage}">
                            <li class="next"><a
                                    th:onclick="'javascript:selectPage(\''+${nowPage+1}+'\')'">下一页</a>
                            </li>
                            <li>
                                <a th:onclick="'javascript:selectPage(\''+${lastPage}+'\')'">尾页</a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </th:block>
        </div>

    </div>


</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

</body>
</html>