<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>搜索结果</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/search_book.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/search_book.js}" type="text/javascript"></script>
</head>
<body>
<!--顶部-->
<div>
    <nav class="navbar navbar-default navber-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="cursor: pointer;">九江学院图书漂流</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="index.html" onclick="selectNav(this)" style="color: gray;"><span
                        class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-tasks"></span> 用户寻书</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-eur"></span> 新书漂流</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a onclick="selectNav(this)"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                <li><a onclick="selectNav(this)"><span class="glyphicon glyphicon-leaf"></span>注册</a></li>
            </ul>
        </div>
    </nav>
</div>

<!--页面中部-->
<div class="center_bg">

    <!--搜索框-->
    <div class="center_search" id="center_search">
        <form class="form-inline" method="get" th:action="@{/tourist/search}">
            <select name="target" class="form-control">
                <option value="bookName">书名</option>
                <option value="author">作者</option>
                <option value="publish">出版社</option>
                <option value="user">用户</option>
            </select>
            <div class="form-group">
                <input type="number" hidden="hidden" name="pageNum" value="1"/>
                <input name="searchText" type="text" class="search_input" placeholder="请输入您要搜索的内容"/>
                <button type="submit" class="btn btn-info">搜索</button>
            </div>
        </form>
    </div>

    <div class="book_type">
        <nav class="book_type_title">类型</nav>
        <ul class="list-group">
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="0"/>
                    <span>文学类</span>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="1"/>
                    <span>教科书</span>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="2"/>
                    <span>自然科学</span>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="3"/>
                    <span>社会科学</span>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="4"/>
                    <span>刊物</span>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="5"/>
                    <span>艺术</span>
                </span>
            </li>
            <li class="list-group-item">
                <span>
                    <input type="checkbox" name="types" value="6"/>
                    <span>综合类图书</span>
                </span>
            </li>
        </ul>

        <div class="book_type_btn">
            <button class="btn btn-info" name="ok" value="true">确定</button>
            <button class="btn" name="ok" value="false">清空</button>
        </div>
    </div>

    <div class="search_list_div">

        <!--一条图书信息-->
        <div class="book_message_div" th:each="book : ${books}">
            <div class="img_div">
                <a href="#" target="_blank">
                    <img th:src="@{${book.bookImg}}"/>
                </a>
            </div>
            <div class="book_message_message_div">
                <a href="#" target="_blank">
                    <span class="book_name" th:text="${book.bookName}"></span>
                </a>
                <div class="book_message">
                    <span>
                        作者：
                        <span th:text="${book.author}"></span>
                    </span>
                    <span>
                        出版社：
                        <span th:text="${book.publish}"></span>
                    </span>
                    <span>
                        评分：
                        <!--<span>
                            <a style="line-height: 30px">
                                <img src="../img/light_start.png" style="height: 20px;width: 20px;margin-bottom: 5px;" />
                            </a>
                            </span>-->

                        <span>
                             <th:block th:unless="${book.bookStart eq 0}">
                                 <th:block th:each="num : ${#numbers.sequence(1, book.bookStart)}">
                                     <a style="line-height: 30px">
                                         <i class="glyphicon glyphicon-star" style="color: green;font-size: small"></i>
                                     </a>
                                 </th:block>
                             </th:block>
                            <th:block th:unless="${book.bookStart eq 5}">
                                <th:block th:each="num : ${#numbers.sequence(book.bookStart+1, 5)}">
                                    <a>
                                        <i class="glyphicon glyphicon-star-empty" style="color: green;font-size: small"></i>
                                    </a>
                                </th:block>
                            </th:block>
                        </span>
                    </span>

                </div>
                <div class="book_introduction" th:text="${book.introduction}"></div>
            </div>
        </div>

        <div class="book_list_page_btn" align="center">
            <nav>
                <!--<ul class="pagination">
                    <li class="disabled"><a href="#">首页</a></li>
                    <li class="previous disabled"><a href="#">向左</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">54</a></li>
                    <li><a href="#">55</a></li>
                    <li class="next"><a href="#">向右</a></li>
                    <li><a href="#">尾页</a></li>
                </ul>-->

                <ul th:if="${byType eq null }" class="pagination">
                    <th:block th:if="${1 eq nowPage}">
                        <li class="disabled"><a >首页</a> </li>
                        <li class="previous disabled"><a>上一页</a> </li>
                    </th:block>
                    <th:block th:unless="${1 eq nowPage}">
                        <li><a th:onclick="'javascript:selectPage(\''+${1}+'\')'">首页</a> </li>
                        <li class="previous"><a th:onclick="'javascript:selectPage(\''+${nowPage -1}+'\')'">上一页</a> </li>
                    </th:block>

                    <th:block th:if="${nowPage-2 gt 0}">
                        <li><a href="#">...</a> </li>
                        <li><a th:onclick="'javascript:selectPage(\''+${nowPage -2}+'\')'" th:text="${nowPage - 2}"></a></li>
                    </th:block>

                    <li th:if="${nowPage-1 gt 0}">
                        <a th:onclick="'javascript:selectPage(\''+${nowPage -1}+'\')'" th:text="${nowPage - 1}"></a>
                    </li>

                    <li class="active"><a href="#" th:text="${nowPage}"></a> </li>

                    <li th:if="${nowPage+1 le lastPage}">
                        <a th:onclick="'javascript:selectPage(\''+${nowPage + 1}+'\')'" th:text="${nowPage + 1}"></a>
                    </li>

                    <li th:if="${nowPage+2 le lastPage}">
                        <a th:onclick="'javascript:selectPage(\''+${nowPage + 2}+'\')'" th:text="${nowPage + 2}"></a>
                    </li>

                    <li th:if="${nowPage+2 lt lastPage}"><a href="#">...</a> </li>

                    <th:block th:if="${lastPage eq nowPage}">
                        <li class="next disabled"><a>下一页</a> </li>
                        <li class="disabled"><a>尾页</a> </li>
                    </th:block>
                    <th:block th:unless="${lastPage eq nowPage}">
                        <li class="next"><a th:onclick="'javascript:selectPage(\''+${nowPage +1}+'\')'">下一页</a> </li>
                        <li><a th:onclick="'javascript:selectPage(\''+${lastPage}+'\')'">尾页</a> </li>
                    </th:block>
                </ul>

                <ul th:unless="${byType eq null }" class="pagination">
                    <th:block th:if="${1 eq nowPage}">
                        <li class="disabled"><a >首页</a> </li>
                        <li class="previous disabled"><a>上一页</a> </li>
                    </th:block>
                    <th:block th:unless="${1 eq nowPage}">
                        <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = 1)}">首页</a> </li>
                        <li class="previous"><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage -1})}">上一页</a> </li>
                    </th:block>

                    <th:block th:if="${nowPage-2 gt 0}">
                        <li><a href="#">...</a> </li>
                        <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage - 2})}" th:text="${nowPage - 2}"></a></li>
                    </th:block>

                    <li th:if="${nowPage-1 gt 0}">
                        <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage - 1})}" th:text="${nowPage - 1}"></a>
                    </li>

                    <li class="active"><a href="#" th:text="${nowPage}"></a> </li>

                    <li th:if="${nowPage+1 le lastPage}">
                        <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage + 1})}" th:text="${nowPage + 1}"></a>
                    </li>

                    <li th:if="${nowPage+2 le lastPage}">
                        <a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage + 2})}" th:text="${nowPage + 2}"></a>
                    </li>

                    <li th:if="${nowPage+2 lt lastPage}"><a href="#">...</a> </li>

                    <th:block th:if="${lastPage eq nowPage}">
                        <li class="next disabled"><a>下一页</a> </li>
                        <li class="disabled"><a>尾页</a> </li>
                    </th:block>
                    <th:block th:unless="${lastPage eq nowPage}">
                        <li class="next"><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${nowPage + 1})}">下一页</a> </li>
                        <li><a th:href="@{/tourist/bookType/{typeId}/{pageNum} (typeId = 1, pageNum = ${lastPage})}">尾页</a> </li>
                    </th:block>
                </ul>
            </nav>
        </div>

    </div>


</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

</body>
</html>