<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>超级管理员</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link href="../static/css/super_admin_manager.css" th:href="@{/css/super_admin_manager.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/alert.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<!--顶部-->
<nav class="navbar navbar-default navber-fixed-top top" align="center">
    <a>九江学院图书漂流 - 超级管理员 - 控制台
        <span th:text="${'(' + session.user.userName + ')'}"></span>
    </a>
</nav>


<!--页面中部-->
<div class="center_bg">

    <div class="center_left">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#addAdmin" data-toggle="tab">
                    添加普通管理员
                </a>
            </li>
            <li><a href="#updateAdmin" data-toggle="tab" onclick="getAdmin()">普通管理员管理</a></li>
            <li><a href="#okAdmin" data-toggle="tab" onclick="getApply()">申请处理</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <input type="text" hidden="hidden" id="userId"/>
            <div class="tab-pane fade in active" id="addAdmin">
                <div class="search form-inline">
                    <select name="target" class="form-control">
                        <option value="userName">用户名</option>
                        <option value="userId">学号</option>
                        <option value="userPhone">手机号</option>
                        <option value="userEmail">邮箱</option>
                    </select>
                    <input type="text" name="searchText" class="" placeholder="请输入..."/>
                    <button id="searchBtn" class="btn btn-info">搜索</button>
                </div>
                <table class="table table-responsive">
                    <tr>
                        <td>用户编号</td>
                        <td>用户名</td>
                        <td>手机号</td>
                        <td>电子邮箱</td>
                        <td>贡献度</td>
                        <td>信用</td>
                        <td>操作</td>
                    </tr>
                    <tbody id="addAdminTbody">

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="updateAdmin">
                <table class="table table-responsive">
                    <tr>
                        <td>用户编号</td>
                        <td>用户名</td>
                        <td>手机号</td>
                        <td>电子邮箱</td>
                        <td>贡献度</td>
                        <td>信用</td>
                        <td>操作</td>
                    </tr>
                    <tbody id="updateAdminTbody">

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="okAdmin">
                <table class="table table-responsive">
                    <tr>
                        <td>用户编号</td>
                        <td>用户名</td>
                        <td>手机号</td>
                        <td>电子邮箱</td>
                        <td>贡献度</td>
                        <td>信用</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                    <tbody id="okAdminTbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--右边内容-->
    <div class="center_right" th:include="assembly::adminRight"></div>

</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--添加提示框-->
<div class="alert"></div>

<script>
    $(document).ready(function () {

        /** 搜索. */
        $('#searchBtn').click(function () {
            var target = $('select[name="target"]').val().trim();
            var text = $('input[name="searchText"]').val().trim();
            $.post('getuser',
                {
                    target : target,
                    searchText : text
                },
            function (data) {
                if (data != "") {
                    $('#userId').val(data.userId);
                    $('#addAdminTbody').html('');
                    $('#addAdminTbody').append('<tr>' +
                        '<td>' + data.userId + '</td>' +
                        '<td>' + data.userName + '</td>' +
                        '<td>' + data.userPhone+ '</td>' +
                        '<td>' + data.userEmail+ '</td>' +
                        '<td></td>' +
                        '<td>' + data.credit + '</td>' +
                        '<td><button onclick="setAdmin()" class="btn btn-warning">设为管理员</button></td>' +
                        '</tr>');
                } else {
                    $('.alert').html('用户不存在或已为管理员').addClass('alert-warning').show().delay(2000).fadeOut();
                }
            })
        });

    });

    /** 设置管理员. */
    function setAdmin() {
        var userId = $('#userId').val().trim();
        $.post('setAdmin',
            {
                userId : userId
            },
        function (data) {
            if (data) {
                $('#addAdminTbody').html('');
                $('.alert').html('设置成功').addClass('alert-success').show().delay(2000).fadeOut();
            } else {
                $('.alert').html('设置失败').addClass('alert-danger').show().delay(2000).fadeOut();
            }
        })
    }

    /** 获取管理员. */
    function getAdmin() {
        $.post('getAdmin',
            {},
        function (data) {
            $('#updateAdminTbody').html('');
            /*<![CDATA[*/
            for (var i=0; i<data.length; i++) {
                $('#updateAdminTbody').append('<tr>' +
                    '<td>' + data[i].userId + '</td>' +
                    '<td>' + data[i].userName + '</td>' +
                    '<td>' + data[i].userPhone+ '</td>' +
                    '<td>' + data[i].userEmail+ '</td>' +
                    '<td>' + data[i].contributeNum + '</td>' +
                    '<td>' + data[i].credit + '</td>' +
                    '<td><button onclick="delAdmin(this, ' + data[i].userId + ')" class="btn btn-warning">撤销管理员</button></td>' +
                    '</tr>');
            }
            /*]]>*/
        })
    }

    /** 撤销管理员. */
    function delAdmin(n, id) {
        var par = $(n).parents('tr');
        $.post('delAdmin',
            {
                userId : id
            },function (data) {
                if (data) {
                    $('.alert').html('设置成功').addClass('alert-success').show().delay(2000).fadeOut();
                    $(par).remove();
                } else {
                    $('.alert').html('设置失败').addClass('alert-danger').show().delay(2000).fadeOut();
                }
            })
    }

    /** 管理员申请处理. */
    function getApply() {
        $.get('getApplyAdmin',function (data) {
            $('#okAdminTbody').html('');
            /*<![CDATA[*/
            for (var i=0; i<data.length; i++) {
                $('#okAdminTbody').append('<tr>' +
                    '<td>' + data[i].user.userId + '</td>' +
                    '<td>' + data[i].user.userName + '</td>' +
                    '<td>' + data[i].user.userPhone+ '</td>' +
                    '<td>' + data[i].user.userEmail+ '</td>' +
                    '<td>' + data[i].user.contributeNum + '</td>' +
                    '<td>' + data[i].user.credit + '</td>' +
                    '<td>' + data[i].applyText + '</td>' +
                    '<td><button onclick="okApply(this, ' + data[i].user.userId + ' , ' + data[i].applyId + ')" class="btn btn-warning">通过</button>&nbsp;' +
                    '<button onclick="delApply(this, ' + data[i].applyId + ')" class="btn btn-danger">否决</button></td>' +
                    '</tr>');
            }
            /*]]>*/
        })
    }
    
    function okApply(n, userId, applyId) {
        $.post('okApply',
            {
                userId : userId,
                applyId : applyId
            },function (data) {
                if (data) {
                    var par = $(n).parents('tr');
                    $(par).remove();
                } else  {
                    $('.alert').html('设置失败').addClass('alert-danger').show().delay(2000).fadeOut();
                }
            })
    }

    function delApply(n, applyId) {
        $.post('delApply',
            {
                applyId : applyId
            },function (data) {
                if (data) {
                    var par = $(n).parents('tr');
                    $(par).remove();
                } else  {
                    $('.alert').html('设置失败').addClass('alert-danger').show().delay(2000).fadeOut();
                }
            })
    }

</script>

</body>
</html>