<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>上传新书</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/upload_book.css}" />
    <script th:src="@{/js/upload_book.js}" ></script>
</head>
<body>
<!--顶部-->
<nav class="navbar navbar-default navber-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/index}" class="navbar-brand">图书漂流</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;"><span
                    class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a th:href="@{/notice/{pageNum} (pageNum = 1)}" onclick="selectNav(this)"><span
                    class="glyphicon glyphicon-tasks"></span> 公告</a></li>
            <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
            <th:block th:if="${session.user eq null}">
                <li><a th:href="@{/login}" onclick="selectNav(this)"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                </li>
                <li><a th:href="@{/register}" onclick="selectNav(this)"><span class="glyphicon glyphicon-leaf"></span>
                    注册</a></li>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <li class="active"><a th:href="@{/user/userHome}" onclick="selectNav(this)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span th:text="${session.user.getUserName()}"></span>
                    <img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                         th:src="@{/img/havemsg.png}"/>
                </a>
                </li>
                <li><a th:href="@{/user/logout}" onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-log-out"></span>
                    注销</a></li>
            </th:block>
        </ul>
    </div>
</nav>

<!--页面中部-->
<div class="center_bg">

    <!--左边内容-->
    <div class="center_left">
        <div class="center_left_title" align="center">
            <span>上传我的无用书籍</span>
        </div>
        <form class="form-horizontal" enctype="multipart/form-data" th:action="@{/user/saveBook}" method="post">
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">图书名：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bookName" placeholder="请输入正确的图书名" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">作者：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="author" placeholder="请输入正确的作者名" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">出版社：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="publish" placeholder="请输入正确的出版社" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">图书封面：</label>
                <div class="col-sm-7">
                    <input type="file" name="uploadImg" placeholder="请选择图书封面图片" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <input type="text" value="0" hidden="hidden" id="bookStart" name="bookStart" />
                <label class="col-sm-2 control-label">我的评价：</label>
                <div class="col-sm-7">
                    <textarea class="book_evaluate" name="introduction" placeholder="我的评价"></textarea>
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">我的评分：</label>
                <div id="startComment" class="col-sm-7" style="margin-top: 5px">
                    <a style="cursor: pointer" index="0" onclick="startLight(this)">
                        <img th:src="@{/img/dark_start.png}" style="height: 20px;width: 20px;" />
                    </a>
                    <a style="cursor: pointer" index="1" onclick="startLight(this)">
                        <img th:src="@{/img/dark_start.png}" style="height: 20px;width: 20px;" />
                    </a>
                    <a style="cursor: pointer" index="2" onclick="startLight(this)">
                        <img th:src="@{/img/dark_start.png}" style="height: 20px;width: 20px;" />
                    </a>
                    <a style="cursor: pointer" index="3" onclick="startLight(this)">
                        <img th:src="@{/img/dark_start.png}" style="height: 20px;width: 20px;" />
                    </a>
                    <a style="cursor: pointer" index="4" onclick="startLight(this)">
                        <img th:src="@{/img/dark_start.png}" style="height: 20px;width: 20px;" />
                    </a>
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">图书类型：</label>
                <div id="inputType" class="col-sm-7">
                    <span class="type_select">
                        <a style="color: #333333;" class="type_name">综合性图书</a>
                        <a class="del_type">X</a>
                        <input name="type" hidden="hidden" type="text" value="7" />
                    </span>
                    <a id="addTypeBtn">
                        <img style="height: 30px;height: 30px;" th:src="@{/img/add_type.png}" />
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">确定上传</button>
                    <span id="resultMessage" style="color: red;" th:text="${error}"></span>
                </div>
            </div>
        </form>
    </div>
    <!--右边内容-->
    <div class="center_right" th:include="assembly::user_right"></div>
</div>

<!--修改手机号码-->
<div class="update_div" id="types" hidden="hidden">
    <span onclick="selectType(this)" index="0" val="1" class="type_select"><a class="select_type">文学类</a></span>
    <span onclick="selectType(this)" index="0" val="2" class="type_select"><a class="select_type">教科书</a></span>
    <span onclick="selectType(this)" index="0" val="3" class="type_select"><a class="select_type">自然科学</a></span>
    <span onclick="selectType(this)" index="0" val="4" class="type_select"><a class="select_type">社会科学</a></span>
    <span id="closeTypeSelect" class="update_top">X</span><br/><br/>
    <span onclick="selectType(this)" index="0" val="5" class="type_select"><a class="select_type">刊物</a></span>
    <span onclick="selectType(this)" index="0" val="6" class="type_select"><a class="select_type">艺术</a></span>
    <span onclick="selectType(this)" index="1" val="7" class="type_select" style="border: 1px solid gray;"><a class="select_type">综合性图书</a></span>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>
</body>
</html>