<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>我的期望</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/upload_notice.css}" />
    <script th:src="@{/js/upload_notice.js}" ></script>
</head>
<body>
<!--顶部-->
<nav class="navbar navbar-default navber-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/index}" class="navbar-brand">图书漂流</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;"><span
                    class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a th:href="@{/notice/{pageNum} (pageNum = 1)}" onclick="selectNav(this)"><span
                    class="glyphicon glyphicon-tasks"></span> 公告</a></li>
            <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
            <th:block th:if="${session.user eq null}">
                <li><a th:href="@{/login}" onclick="selectNav(this)"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                </li>
                <li><a th:href="@{/register}" onclick="selectNav(this)"><span class="glyphicon glyphicon-leaf"></span>
                    注册</a></li>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <li class="active"><a th:href="@{/user/userHome}" onclick="selectNav(this)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span th:text="${session.user.getUserName()}"></span>
                    <img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                         th:src="@{/img/havemsg.png}"/>
                </a>
                </li>
                <li><a th:href="@{/user/logout}" onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-log-out"></span>
                    注销</a></li>
            </th:block>
        </ul>
    </div>
</nav>

<!--页面中部-->
<div class="center_bg">

    <!--左边内容-->
    <div class="center_left">
        <div class="center_left_title" align="center">
            <span>我的期望</span>
        </div>
        <div class="center_left_body">
            <textarea id="noticeText" placeholder="我的期望图书...."></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button id="upload_btn" class="btn btn-primary">确定上传</button>
                <span id="resultMessage" style="color: red;"></span>
            </div>
        </div>

    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::user_right"></div>
</div>

<!--修改用户名-->
<div class="update_div" id="update_name" hidden="hidden">
    <span class="close" onclick="hideUpdateDiv(this)">x</span>

</div>

<!--修改手机号码-->
<div class="update_div" id="update_phone" hidden="hidden">
    <span class="update_top"></span>
    <div class="close" onclick="hideUpdateDiv(this)" align="right">x</div>
    <div class="form-group form_group">
        <label class="col-sm-2 control-label"><span style="color: red">*</span>原手机号</label>
        <div class="col-sm-9 input-group">
            <input type="text" class="form-control" placeholder="请输入原手机号" />
        </div>
    </div>
    <div class="form-group form_group">
        <label class="col-sm-2 control-label"><span style="color: red">*</span>新手机号</label>
        <div class="col-sm-9 input-group">
            <input type="text" class="form-control" placeholder="请输入新手机号" />
        </div>
    </div>
    <div class="form-group form_group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" style="margin-bottom: 20px;" class="btn btn-info">获取短信验证码</button>
        </div>
    </div>
    <div class="form-group form_group">
        <label class="col-sm-2 control-label"><span style="color: red">*</span>短信验证码:</label>
        <div class="col-sm-9 input-group">
            <input type="text" class="form-control" placeholder="请查收手机短信，并填写短信中的验证码" />
        </div>
    </div>
    <div class="form-group form_group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="register_btn" class="btn btn-info">确认修改</button>
        </div>
    </div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>
</body>
</html>