<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>新书漂流</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/upload_new_book.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/upload_new_book.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/alert.css}"/>
</head>
<body>

<!--顶部-->
<div th:include="assembly::navWithSearch"></div>

<!--添加提示框-->
<div class="alert"></div>

<!--页面中部-->
<div class="center_bg">

    <!--左边内容-->
    <div class="center_left">

        <div class="center_left_title" align="center">
            <span>新书漂流</span>
        </div>
        <form class="form-horizontal" th:action="@{/user/saveBook}" enctype="multipart/form-data" method="post">
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">图书名：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="bookName" placeholder="请输入正确的图书名" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">作者：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="author" placeholder="请输入正确的作者名" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">出版社：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="publish" placeholder="请输入正确的出版社" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">ISBN：</label>
                <div class="col-sm-7" id="isbnDiv">
                    <input type="text" id="ISBN" class="form-control" name="ISBN" placeholder="请输入图书的ISBN号" />
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <input type="text" value="0" hidden="hidden" id="bookStart" name="bookStart" />
                <label class="col-sm-2 control-label">我的评价：</label>
                <div class="col-sm-7">
                    <textarea class="book_evaluate" name="introduction" placeholder="我的评价"></textarea>
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">图书封面：</label>
                <div class="col-sm-3">
                    <!--<input type="file" name="uploadImg" placeholder="请选择图书封面图片" />-->
                    <div class="img_div">
                        <img id="userImg" src="" class="img-thumbnail left_user_img"/>
                        <span id="chengeImg">
                    <span class="file change_btn" hidden="hidden">选择封面
                    <input type="file" name="uploadImg" id="selectImg"
                           accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"/>
                    </span>
                </span>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">我的评分：</label>
                <div id="startComment" class="col-sm-7" style="margin-top: 5px">
                    <a style="cursor: pointer" index="0" onclick="startLight(this)">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: large" ></i>
                    </a>
                    <a style="cursor: pointer" index="1" onclick="startLight(this)">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: large" ></i>
                    </a>
                    <a style="cursor: pointer" index="2" onclick="startLight(this)">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: large" ></i>
                    </a>
                    <a style="cursor: pointer" index="3" onclick="startLight(this)">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: large" ></i>
                    </a>
                    <a style="cursor: pointer" index="4" onclick="startLight(this)">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: large" ></i>
                    </a>
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <label class="col-sm-2 control-label">图书类型：</label>
                <div id="inputType" class="col-sm-7">
                    <span id="type_7" class="type_select">
                        <a style="color: #333333;" class="type_name">综合性图书</a>
                        <a class="del_type">X</a>
                        <input name="type" hidden="hidden" type="text" value="7" />
                    </span>
                    <a id="addTypeBtn" class="glyphicon glyphicon-plus-sign">
                        <!--<img style="height: 30px;height: 30px;" th:src="@{/img/add_type.png}" />-->
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" onclick="return upload()">确定上传</button>
                    <span id="resultMessage" style="color: red;" th:text="${error}"></span>
                </div>
            </div>
        </form>

    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::navUserRight"></div>

</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--弹出背景-->
<div id="out_bg" class="out_bg" hidden="hidden"></div>

<!--选择标签-->
<div class="update_div" id="types" hidden="hidden">
    <span onclick="selectType(this)" index="0" val="1" class="type_select"><a class="select_type">文学类</a></span>
    <span onclick="selectType(this)" index="0" val="2" class="type_select"><a class="select_type">教科书</a></span>
    <span onclick="selectType(this)" index="0" val="3" class="type_select"><a class="select_type">自然科学</a></span>
    <span onclick="selectType(this)" index="0" val="4" class="type_select"><a class="select_type">社会科学</a></span>
    <span onclick="selectType(this)" index="0" val="5" class="type_select"><a class="select_type">刊物</a></span>
    <span onclick="selectType(this)" index="0" val="6" class="type_select"><a class="select_type">艺术</a></span>
    <span onclick="selectType(this)" index="1" val="7" class="type_select" style="border: 1px solid gray;"><a class="select_type">综合性图书</a></span>
</div>

</body>
</html>