<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>图书列表</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user_list.css}" />
    <script th:src="@{/js/user_list.js}" ></script>
</head>
<body>
<!--顶部-->
<div class="top_logo">
        <span class="logo_img">
            <img th:src="@{/img/flowbook1.png}" />
        </span>
    <ul id="top_ul">
        <li><a href="./login.html" onclick="selectNav(this)">登录</a> | <a href="./register.html" onclick="selectNav(this)">注册</a></li>
        <li><a href="#" onclick="selectNav(this)">活动</a></li>
        <li><a href="./notice.html" onclick="selectNav(this)">公告</a></li>
        <li><a href="./index.html" onclick="selectNav(this)" style="color: gray;">首页</a></li>
    </ul>
</div>

<!--页面中部-->
<div class="center_bg">

    <div class="center_search" id="center_search" th:include="assembly::center_search">
    </div>

    <div class="search_list_div">

        <!--一条用户信息-->
        <div class="book_message_div" th:each="user : ${users}">
            <div class="img_div">
                <a href="#">
                    <img th:src="@{${user.userImg}}" />
                </a>
            </div>
            <div class="book_message_message_div">
                <a href="#">
                    <span class="book_name" th:text="${user.userName}"></span>
                </a>
                <div class="book_message">
                    <label>贡献度：</label>
                    <span th:text="${user.contributeNum}"></span>
                </div>
                <div class="book_message">
                    <label>信用度：</label>
                    <span th:text="${user.credit}"></span>
                </div>
                <div class="book_message">
                    <label>地区：</label>
                    <span th:text="${user.userAddress}"></span>
                </div>
                <div class="add_user">
                    <a href="#">
                        <img th:src="@{/img/adduser.png}" />
                        加为好友
                    </a>
                    <a href="#">
                        <img th:src="@{/img/chat.png}" />
                        联系
                    </a>
                </div>
            </div>
        </div>

        <div class="book_list__page_btn" align="center">
            <nav>
                <!--<ul class="pager">
                    <li class="previous"><a href="#">向左</a> </li>
                    <li class="next"><a href="#">向右</a> </li>
                </ul>-->
                <ul class="pagination">
                    <li class="disabled"><a href="#">首页</a> </li>
                    <li class="previous disabled"><a href="#">向左</a> </li>
                    <li class="active"><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li><a href="#">...</a> </li>
                    <li><a href="#">54</a> </li>
                    <li><a href="#">55</a> </li>
                    <li class="next"><a href="#">向右</a> </li>
                    <li><a href="#">尾页</a> </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="book_type">
        图书分类
    </div>


</div>

<p id="back-to-top"><a href="#top">回到<br/>顶部</a></p>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>
</body>
</html>