<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>新书漂流</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/user_find_book.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/alert.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<!--顶部-->
<div th:include="assembly::navWithSearch"></div>


<!--页面中部-->
<div class="center_bg">

    <!--左边内容-->
    <div class="center_left">
        <div class="center_left_title" align="center">
            <span>寻书</span>
        </div>
        <div class="center_left_body">
            <input type="text" id="noticeText" placeholder="请输入想看的书的书名..."/>
            <button id="upload_btn" class="btn btn-primary">发布寻书</button>
        </div>

        <!-- 用户寻书展示 -->
        <div class="show_book">

            <!--他人寻书记录-->
            <div class="other_find_div">
                <nav class="title">
                    用户最新寻书信息
                </nav>
            </div>

            <!--我的寻书记录-->
            <!--<div class="user_find_div">

            </div>-->
        </div>

    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::navUserRight"></div>

</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--添加提示框-->
<div class="alert"></div>

<script>
    $(document).ready(function () {
        $('#upload_btn').click(function () {
            var text = $('#noticeText').val().trim();
            $.post('saveNotice',
                {
                    text : text
                },
            function (data) {
                if (data) {
                    $('#noticeText').val('');
                    $('.alert').html('上传成功').addClass('alert-success').show().delay(2000).fadeOut();
                } else {
                    $('.alert').html('上传失败，请稍后再试').addClass('alert-danger').show().delay(2000).fadeOut();
                }
            });
        });
    });
</script>

</body>
</html>
