<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的好友</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user_friend.css}" />
    <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/user_friend.css" />-->
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/user_friend.js}"></script>
    <!--<script src="../static/js/user_friend.js"  ></script>-->

</head>
<body>
<!--顶部-->
<div class="top_logo">
        <span class="logo_img">
            <img th:src="@{/img/flowbook1.png}" />
        </span>
    <ul id="top_ul">
        <li>
            <th:block th:if="${session.user eq null}">
                <a th:href="@{/login}" onclick="selectNav(this)">登录</a> |
                <a th:href="@{/register}" onclick="selectNav(this)">注册</a>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <a th:href="@{/user/userHome}" onclick="selectNav(this)">
                    <span th:text="${session.user.getUserName()}"></span>
                    <img th:if="${session.haveMsg}" style="width: 7px;height: 7px;margin-bottom: 20px;" th:src="@{/img/havemsg.png}" />
                </a>|
                <a th:href="@{/user/logout}" onclick="selectNav(this)">注销</a>
            </th:block>

        </li>
        <li><a href="#" onclick="selectNav(this)">活动</a></li>
        <li><a th:href="@{/notice/{pageNum} (pageNum = 1)}" onclick="selectNav(this)">公告</a></li>
        <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;">首页</a></li>
    </ul>
</div>

<!--页面中部-->
<div class="center_bg">

    <!--左边内容-->
    <div class="center_left">

        <!--好友列表-->
        <div class="friend_list_div">
            <ul class="list-group" id="friend_list">
                <li class="friend_group">
                    <div onclick="selectGroup(this)" class="list-group-item-info group_name">我的好友</div>
                    <ul class="list-group">
                        <th:block th:each="friend : ${friends}">
                            <li class="list-group-item friend" style="cursor: pointer">
                                <span onclick="chatWith(this)">
                                    <input type="text" th:value="${friend.userId}" hidden="hidden" />
                                <img name="headImg" class="img-circle" th:src="@{${friend.userImg}}" />
                                <span th:text="${friend.userName}"></span>
                                <th:block th:each="sender : ${senderIds}">
                                    <img class="msgTip" th:if="${sender eq friend.userId}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                                         th:src="@{/img/havemsg.png}" />
                                </th:block>
                                </span>
                                <span th:unless="${session.user.userId eq friend.userId}" th:onclick="'javascript:return delFriend(this, \''+${friend.userId}+'\')'" class="close" >x</span>
                            </li>
                        </th:block>
                    </ul>
                </li>

                <!--非好友-->
                <li class="friend_group">
                    <div onclick="selectGroup(this)" class="list-group-item-info group_name">非好友</div>
                    <ul class="list-group">
                        <th:block th:each="friend : ${notFriend}">
                            <li th:unless="${session.user.userId eq friend.userId}" class="list-group-item friend" style="cursor: pointer">
                                <span onclick="chatWith(this)">
                                    <input type="text" th:value="${friend.userId}" hidden="hidden" />
                                <img name="headImg" class="img-circle" th:src="@{${friend.userImg}}" />
                                <span th:text="${friend.userName}"></span>
                                <th:block th:each="sender : ${senderIds}">
                                    <img class="msgTip" th:if="${sender eq friend.userId}" style="width: 7px;height: 7px;margin-bottom: 20px;"
                                         th:src="@{/img/havemsg.png}" />
                                </th:block>
                                </span>
                                <span th:onclick="'javascript:return readedChat(this, \''+${friend.userId}+'\')'" class="close">x</span>
                            </li>
                        </th:block>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="chat_div" class="chat_div">
            <div class="friend_name" id="chatWithName" align="center" th:text="${session.user.userName}"></div>
            <input hidden="hidden" type="text" id="chatWithId" th:value="${session.user.userId}" />
            <div class="speak_box">
                <!--<div class="answer">
                    <div class="heard_img left"><img src="images/dglvyou.jpg" /></div>
                    <div class="answer_text">
                        <p>信息</p>
                        <i></i>
                    </div>
                </div>-->
            </div>

        </div>

        <div class="input_div">
            <textarea id="message" onKeyUp="keyup()"></textarea>
            <button onClick="up_say()" class="btn btn-info">发送</button>
        </div>


    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::user_right"></div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>
</body>

<script type="text/javascript" th:inline="javascript">

    var str;

    function showMyMssage(text) {
        str = '<div class="question">';
        str += '<div class="heard_img right"><img th:src="@{${session.user.userImg}}"/></div>';
        str += '<div class="question_text clear"><p>'+text+'</p><i></i>';
        str += '</div></div>';
        $('.speak_box').append(str);
    }
    
    function up_say(){
        $('.write_list').remove();
        var text = $('.input_div textarea').val();

        if(text == ''){
            alert('请输入内容！');
            $('.input_div textarea').focus();
        }else{

            sendMessage();

            showMyMssage(text);
            $('.input_div textarea').val('');
            $('.input_div textarea').focus();
            autoWidth();
            for_bottom();

        }
    }

    function keyup(){
        var footer_height = $('.wenwen-footer').outerHeight(),
            text = $('.write_box input').val(),
            str = '<div class="write_list">'+text+'</div>';
        if (text == '' || text == undefined){
            $('.write_list').remove();
        }else{
            $('.wenwen-footer').append(str);
            $('.write_list').css('bottom',footer_height);
        }
    }

    // 显示他人信息
    function showMessage(text){
        var ans  = '<div class="answer"><div class="heard_img left"><img src="images/dglvyou.jpg" /></div>';
        ans += '<div class="answer_text"><p>'+ text + '</p><i></i>';
        ans += '</div></div>';
        $('.speak_box').append(ans);
        for_bottom();
    }

    function for_bottom(){
        var speak_height = $('.speak_box').height();
        $('.speak_box,.speak_window').animate({scrollTop:speak_height},500);
        scrollToBottom();
    }

    function autoWidth(){
        $('.question_text').css('max-width',$('.question').width()-60);
    }
    autoWidth();


    var ws = new WebSocket("ws://localhost:8080/FlowBook/webSocketHandler");
    ws.onopen = function () {
        console.log("onpen");
        ws.send("{}");
    };
    ws.onclose = function () {
        console.log("onclose");
    };
    ws.onmessage = function (msg) {
        var message = msg.data;
        message = message.split("/[-=^*]");
        var chatWithId = $('#chatWithId').val().trim();
        if (chatWithId == message[0].trim()) {
            showMessage(message[1]);
        }

    };
    
    function sendMessage() {
        var text = $('.input_div textarea').val();
        var to = $('#chatWithId').val();
        $.post('../message',
            {
                message : text,
                userId : to
            },
        function (data) {
            console.log("data:" + data);
        })
    }

    function chatWith(n) {
        $('.speak_box').html("");
        var friendId = $(n).children('input').val().trim();
        var friendName = $(n).children('span').html().trim();
        $('#chatWithId').val(friendId);
        $('#chatWithName').html(friendName);
        $(n).children('.msgTip').hide();
        getFriendMsg(friendId);
    }

    /*<![CDATA[*/
    function getFriendMsg(friendId) {
        $.post('../chatWith',
            {
                friendId : friendId
            },
        function (data) {
            console.log(data);
            var friendMsg = data.friendMsg;
            var selfMsg = data.selfMsg;
            var friendLenght = friendMsg.length;
            var selfLenght = selfMsg.length;
            var i = 0, j = 0;
            while (i < friendLenght && j < selfLenght) {
                if (friendMsg[i].date < selfMsg[j].date) {
                    showMessage(friendMsg[i].message);
                    i++;
                } else {
                    showMyMssage(selfMsg[j].message);
                    j++;
                }
            }
            for ( ; i < friendLenght; i++) {
                showMessage(friendMsg[i].message);
            }
            for ( ; j < selfLenght; j++) {
                showMyMssage(selfMsg[j].message);
            }
        });
    }
    /*]]>*/

    function scrollToBottom() {
        var h = $('.speak_box').height();
        $('#chat_div').animate({
                scrollTop: h
            },
            500);
    }

    function delFriend(n, friendId) {
        if (window.confirm("将会删除好友及相关聊天记录!")) {
            $.post('delFriend',
                {
                    friendId : friendId
                });
            var chatWith = $('#chatWithId').val().trim();
            if (chatWith == friendId) {
                $('.speak_box').html("");
            }
            $(n).parent('li').hide();
            return true;
        } else {
            return false;
        }
    }

    function readedChat(n, friendId) {
        if (window.confirm("将会删除相关聊天记录!")) {
            $.post('readedChat',
                {
                    friendId : friendId
                });
            var chatWith = $('#chatWithId').val().trim();
            if (chatWith == friendId) {
                $('.speak_box').html("");
            }
            $(n).parent('li').hide();
            return true;
        } else {
            console.log("uiui23 :" + friendId);
            return false;
        }
    }

</script>

</html>