<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <link th:href="@{/css/user.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/user.js}" type="text/javascript"></script>
    <link th:href="@{/css/fileinput.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/fileinput.js}" type="text/javascript"></script>
    <script th:src="@{/js/zh.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/alert.css}"/>
</head>
<body>

<!--顶部-->
<div th:include="assembly::navWithSearch"></div>

<!--页面中部-->
<div class="center_bg">
    <!--搜索框-->
    <div class="center_search" id="center_search" th:include="assembly::searchDiv"></div>

    <div class="center_user">
        <div class="user_img">
            <img class="img-thumbnail" th:src="@{${user.userImg}}"/>
        </div>
        <div class="user_message">
            <div class="user_message_name" th:text="${user.userName}"></div>
            <div class="user_credit user_message_message">
                <label>用户信用：</label>
                <div>

                    <th:block th:unless="${user.getCredit() eq 0}">
                        <th:block th:each="num : ${#numbers.sequence(1, user.getCredit())}">
                            <a style="line-height: 30px">
                                <i class="glyphicon glyphicon-star" style="color: green;font-size: medium;"></i>
                            </a>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${user.getCredit() eq 5}">
                        <th:block th:each="num : ${#numbers.sequence(user.getCredit()+1, 5)}">
                            <a style="line-height: 30px">
                                <i class="glyphicon glyphicon-star-empty" style="color: green;font-size: medium;"></i>
                            </a>
                        </th:block>
                    </th:block>
                </div>
            </div>

            <div class="add_user">
                <th:block th:unless="${session.user eq null}">
                    <input name="islogin" value="ok" hidden="hidden"/>
                </th:block>
                <th:block th:if="${session.user eq null}">
                    <input name="islogin" value="false" hidden="hidden"/>
                </th:block>

                <a th:unless="${isAdd}" id="addFriend" onclick="return loginTip();">
                    <input id="friendId" hidden="hidden" th:value="${user.userId}"/>
                    <img th:src="@{/img/adduser.png}"/>
                    加入聊天列表
                </a>
                <a onclick="return chatLoginTip();">
                    <img th:src="@{/img/chat.png}"/>
                    联系
                </a>
                <a onclick="showReportDiv()">
                    <img style="width: 15px;height: 15px" th:src="@{/img/report.png}"/>
                    举报
                </a>
            </div>
        </div>
    </div>

    <div class="tabs_div">
        <ul class="nav nav-tabs" id="nav_tabs">
            <li class="active" index="0" onclick="selectTab(this)"><a>贡献书籍</a></li>
            <li index="1" onclick="selectTab(this)"><a>借阅记录</a></li>
            <li index="2" onclick="selectTab(this)"><a>寻书记录</a></li>
        </ul>
        <!--贡献书籍表-->
        <table id="contribution" class="table table-striped">
            <tr>
                <td>编号</td>
                <td>书名</td>
                <td>作者</td>
                <td>出版社</td>
                <td>日期</td>
            </tr>
            <tr th:each="book:${user.contribution}">
                <td th:text="${book.bookId}"></td>
                <td>
                    <a style="color: #333333;" href="#" target="_blank" th:text="${book.bookName}"></a>
                </td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publish}"></td>
                <td th:text="${book.bookDate}"></td>
            </tr>
        </table>

        <!--借阅图书-->
        <table id="borrow" class="table table-striped" hidden="hidden">
            <tr>
                <td>编号</td>
                <td>书名</td>
                <td>作者</td>
                <td>出版社</td>
                <td>日期</td>
            </tr>
            <tr>
            <tr th:each="record : ${records}">
                <td th:text="${record.book.bookId}"></td>
                <td>
                    <a style="color: #333333;"
                       th:href="@{/tourist/bookMessage/{bookId}(bookId = ${record.book.bookId})}"
                       th:text="${record.book.bookName}" target="_blank"></a>
                </td>
                <td th:text="${record.book.author}"></td>
                <td th:text="${record.book.publish}"></td>
                <td th:text="${record.recordDate}"></td>
            </tr>
            </tr>
        </table>

        <!--发布公告-->
        <table id="notice" class="table table-striped" hidden="hidden">
            <tr>
                <td>寻书记录</td>
                <td>日期</td>
            </tr>
            <tr th:each="notice : ${user.notices}">
                <td th:text="${notice.noticeText}"></td>
                <td th:text="${notice.noticeDate}"></td>
            </tr>
        </table>
    </div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--弹出背景-->
<div id="out_bg" class="out_bg" hidden="hidden"></div>

<!--聊天框-->
<div id="user_chat_div" class="user_chat_div" hidden="hidden">
    <!--头部-->
    <div class="chat_title">
        <img class="img-circle" th:src="@{${user.userImg}}" width="40px" height="40px"/>
        <span class="user_name" th:text="${user.userName}"></span>
        <span class="title_btn">
            <!--<a class="glyphicon glyphicon-minus"></a>-->
            <a id="close" class="glyphicon glyphicon-remove"></a>
        </span>
    </div>
    <!--信息展示框-->
    <input hidden="hidden" type="text" id="chatWithId" th:value="${user.userId}"/>
    <div class="chat_show_div speak_box">

    </div>
    <div class="chat_tools">
        <ul>
            <li><a class="glyphicon glyphicon-picture"></a></li>
        </ul>
    </div>
    <textarea class="chat_input" autofocus="autofocus">

    </textarea>
    <div class="chat_btn">
        <button onclick="up_say()" type="button" class="btn btn-info">发送</button>
    </div>
</div>

<!--举报框-->
<div id="report_div" class="report_div" hidden="hidden">
    <!--标题栏-->
    <div class="report_title">
        <span>举报</span>
        <span class="title_btn">
            <!--<a class="glyphicon glyphicon-minus"></a>-->
            <a id="close_report" class="glyphicon glyphicon-remove"></a>
        </span>
    </div>
    <!--举报内容-->
    <div class="report_body">
        <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-1 control-label">被举报人：</label>
                <span class="col-sm-2 control-label" th:text="${user.userName}"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">举报理由：</label>
                <div class="col-sm-7">
                    <textarea class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">备注图片：</label>
                <div class="row col-sm-11" style="float: right;margin-right: 10px">
                    <div class="">
                        <input id="file-select" name="file-select[]" type="file" multiple="multiple"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-info btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--添加提示框-->
<div class="alert"></div>

<script>
    var str;

    function showMyMssage(text) {
        str = '<div class="question">';
        str += '<div class="heard_img right">' +
            '<th:block th:unless="${session.user eq null}"><img th:src="@{${session.user.userImg}}"/></th:block></div>';
        str += '<div class="question_text clear"><p>' + text + '</p><i></i>';
        str += '</div></div>';
        $('.speak_box').append(str);
    }

    function up_say() {
        $('.write_list').remove();
        var text = $('.user_chat_div textarea').val();

        if (text == '') {
            alert('请输入内容！');
            $('.user_chat_div textarea').focus();
        } else {
            sendMessage();
            showMyMssage(text);
            $('.input_div textarea').val('');
            $('.input_div textarea').focus();
            autoWidth();
            for_bottom();

        }
    }

    function keyup() {
        var footer_height = $('.wenwen-footer').outerHeight(),
            text = $('.write_box input').val(),
            str = '<div class="write_list">' + text + '</div>';
        if (text == '' || text == undefined) {
            $('.write_list').remove();
        } else {
            $('.wenwen-footer').append(str);
            $('.write_list').css('bottom', footer_height);
        }
    }

    // 显示他人信息
    function showMessage(text) {
        var ans = '<div class="answer"><div class="heard_img left"><img th:src="@{${user.userImg}}" /></div>';
        ans += '<div class="answer_text"><p>' + text + '</p><i></i>';
        ans += '</div></div>';
        $('.speak_box').append(ans);
        for_bottom();
    }

    function for_bottom() {
        var speak_height = $('.speak_box').height();
        $('.speak_box').animate({scrollTop: speak_height}, 500);
        scrollToBottom();
    }

    function autoWidth() {
        $('.question_text').css('max-width', $('.question').width() - 60);
    }

    autoWidth();

    var ws = null;

    /** 联系判断用户是否登录. */
    function chatLoginTip() {
        var login = $('input[name="islogin"]').val();
        if (login == 'ok') {
            console.log('联系');
            $('#chat').show();
            $('#chat').focus();
            ws = new WebSocket("ws://localhost:8080/FlowBook/webSocketHandler");
            ws.onopen = function () {
                console.log("onpen");
                ws.send("{}");
            };
            chatWith();

            var height = $(document).height();
            var width = $(window).width();
            var divWidth = $('#user_chat_div').width();
            $('#out_bg').css('height', height);
            $('#user_chat_div').css('left', (width - divWidth)/2 + "px");
            $('#out_bg').show();
            $('#user_chat_div').show();

            return true;
        } else {
            if (window.confirm("请先登录!")) {
                window.location.replace("../../login");
                return false;
            } else {
                return false;
            }
        }
    }

    function closeChat() {
        console.log('消失');
        ws.onclose = function () {
            console.log("onclose");
        };
        $('#chat').hide();
    };

    ws.onmessage = function (msg) {
        var message = msg.data;
        message = message.split("/[-=^*]");
        var chatWithId = $('#chatWithId').val().trim();
        if (chatWithId == message[0].trim()) {
            showMessage(message[1]);
        }
    };

    function sendMessage() {
        var text = $('.user_chat_div textarea').val();
        var to = $('#chatWithId').val();
        $.post('../../message',
            {
                message: text,
                userId: to
            },
            function (data) {
                console.log("data:" + data);
            })
    }

    function chatWith(n) {
        $('.speak_box').html("");
        var friendId = $('#chatWithId').val();
        getFriendMsg(friendId);
    }

    /*<![CDATA[*/
    function getFriendMsg(friendId) {
        $.post('../../chatWith',
            {
                friendId: friendId
            },
            function (data) {
                console.log(data);
                var friendMsg = data.friendMsg;
                var selfMsg = data.selfMsg;
                var friendLenght = friendMsg.length;
                var selfLenght = selfMsg.length;
                var i = 0, j = 0;
                while (i < friendLenght && j < selfLenght) {
                    if (friendMsg[i].date < selfMsg[j].date) {
                        showMessage(friendMsg[i].message);
                        console.log("friend : " + friendMsg[i].date);
                        i++;
                    } else {
                        showMyMssage(selfMsg[j].message);
                        console.log("self : " + selfMsg[j].date);
                        j++;
                    }
                }
                console.log(i + ' : ' + j);

                for (; i < friendLenght; i++) {
                    showMessage(friendMsg[i].message);
                }
                for (; j < selfLenght; j++) {
                    showMyMssage(selfMsg[j].message);
                }
                console.log(i + ' : ' + j);
            });
    }

    /*]]>*/

    function scrollToBottom() {
        var h = $('.speak_box').height();
        console.log("高度： " + h);
        // $('.speak_box').scrollTop(h);
        $('#chat_div').animate({
                scrollTop: h
            },
            500);
    }

</script>

</body>
</html>