<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我的好友</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user_friend.css}" />
    <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/user_friend.css" />-->
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/user_friend.js}"></script>
    <!--<script src="../static/js/user_friend.js"  ></script>-->

</head>
<body>
<!--顶部-->
<div class="top_logo">
        <span class="logo_img">
            <img th:src="@{/img/flowbook1.png}" />
        </span>
    <ul id="top_ul">
        <li>
            <th:block th:if="${session.user eq null}">
                <a th:href="@{/login}" onclick="selectNav(this)">登录</a> |
                <a th:href="@{/register}" onclick="selectNav(this)">注册</a>
            </th:block>
            <th:block th:unless="${session.user eq null}">
                <a th:href="@{/user/userHome}" onclick="selectNav(this)" th:text="${session.user.getUserName()}"></a> |
                <a th:href="@{/user/logout}" onclick="selectNav(this)">注销</a>
            </th:block>

        </li>
        <li><a href="#" onclick="selectNav(this)">活动</a></li>
        <li><a th:href="@{/notice}" onclick="selectNav(this)">公告</a></li>
        <li><a th:href="@{/index}" onclick="selectNav(this)" style="color: gray;">首页</a></li>
    </ul>
</div>

<!--页面中部-->
<div class="center_bg">

    <!--左边内容-->
    <div class="center_left">

        <!--好友列表-->
        <div class="friend_list_div">
            <ul class="list-group" id="friend_list">
                <li class="friend_group">
                    <div onclick="selectGroup(this)" class="list-group-item-info group_name">我的好友</div>
                    <ul class="list-group" hidden="hidden">
                        <li class="list-group-item">1好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                        <li class="list-group-item">好有名</li>
                    </ul>
                </li>
                <li class="friend_group">
                    <div onclick="selectGroup(this)" class="list-group-item-info group_name">我的好友</div>
                <ul class="list-group" hidden="hidden">
                    <li class="list-group-item">2好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>

                </ul>
                </li>
                <li class="friend_group">
                    <div onclick="selectGroup(this)" class="list-group-item-info group_name">我的好友</div>
                <ul class="list-group" hidden="hidden">
                    <li class="list-group-item">3好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>

                </ul>
                </li>
                <li  class="friend_group">
                    <div onclick="selectGroup(this)" class="list-group-item-info group_name">我的好友</div>
                <ul class="list-group" hidden="hidden">
                    <li class="list-group-item">4好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>
                    <li class="list-group-item">好有名</li>

                </ul>
                </li>

            </ul>
        </div>

        <div id="chat_div" class="chat_div">
            <div class="friend_name" align="center">好有名</div>

            <div class="speak_box">
                <!--<div class="answer">
                    <div class="heard_img left"><img src="images/dglvyou.jpg" /></div>
                    <div class="answer_text">
                        <p>信息</p>
                        <i></i>
                    </div>
                </div>-->
            </div>

        </div>

        <div class="input_div">
            <textarea id="message" onKeyUp="keyup()"></textarea>
            <button onClick="up_say()" class="btn btn-info">发送</button>
        </div>


    </div>

    <!--右边内容-->
    <div class="center_right" th:include="assembly::user_right"></div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    function up_say(){
        $('.write_list').remove();
        var text = $('.input_div textarea').val(),
            str  = '<div class="question">';
        str += '<div class="heard_img right"><img src="#"/></div>';
        str += '<div class="question_text clear"><p>'+text+'</p><i></i>';
        str += '</div></div>';

        if(text == ''){
            alert('请输入内容！');
            $('.input_div textarea').focus();
        }else{

            sendMessage();

            $('.speak_box').append(str);
            $('.input_div textarea').val('');
            $('.input_div textarea').focus();
            autoWidth();
            for_bottom();

            //setTimeout(showMessage(),1000);
        }
    }

    function keyup(){
        var footer_height = $('.wenwen-footer').outerHeight(),
            text = $('.write_box input').val(),
            str = '<div class="write_list">'+text+'</div>';
        if (text == '' || text == undefined){
            $('.write_list').remove();
        }else{
            $('.wenwen-footer').append(str);
            $('.write_list').css('bottom',footer_height);
        }
    }

    // 显示他人信息
    function showMessage(text){
        var ans  = '<div class="answer"><div class="heard_img left"><img src="images/dglvyou.jpg" /></div>';
        ans += '<div class="answer_text"><p>'+ text + '</p><i></i>';
        ans += '</div></div>';
        $('.speak_box').append(ans);
        for_bottom();
    }

    function for_bottom(){
        var speak_height = $('.speak_box').height();
        $('.speak_box,.speak_window').animate({scrollTop:speak_height},500);
    }

    function autoWidth(){
        $('.question_text').css('max-width',$('.question').width()-60);
    }
    autoWidth();


    var stompClient = null;

    function connect() {
        var socket = new SockJS('http://localhost:8080/FlowBook/FlowBook');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('http://localhost:8080/FlowBook/topic/greetings', function (greeting) {
                // showGreeting(JSON.parse(greeting.body).content);
                showMessage(JSON.parse(greeting.body).message);
            });
        });
    }

    connect();

    function sendMessage() {

        var text = $('.input_div textarea').val();
        stompClient.send("http://localhost:8080/FlowBook/app/chat", {}, JSON.stringify({'message': text}));

    }

</script>

</html>