<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <link href="../static/css/user.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/user.js" type="text/javascript"></script>
    <link href="../static/css/fileinput.min.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/fileinput.js" type="text/javascript"></script>
    <script src="../static/js/zh.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/alert.css"/>
</head>
<body>

<!--顶部-->
<div>
    <nav class="navbar navbar-default navber-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" style="cursor: pointer;">九江学院图书漂流</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="index.html" onclick="selectNav(this)" style="color: gray;"><span
                        class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a onclick="selectNav(this)"><span
                        class="glyphicon glyphicon-tasks"></span> 用户寻书</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-fire"></span> 活动</a></li>
                <li><a href="#" onclick="selectNav(this)"><span class="glyphicon glyphicon-eur"></span> 新书漂流</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a onclick="selectNav(this)"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                <li><a onclick="selectNav(this)"><span class="glyphicon glyphicon-leaf"></span>注册</a></li>
            </ul>
        </div>
    </nav>
</div>

<!--页面中部-->
<div class="center_bg">
    <!--搜索框-->
    <div class="center_search" id="center_search">
        <form class="form-inline" method="get">
            <select name="target" class="form-control">
                <option value="0">书名</option>
                <option value="1">作者</option>
                <option value="2">出版社</option>
                <option value="3">用户</option>
            </select>
            <div class="form-group">
                <input type="number" hidden="hidden" name="pageNum" value="1"/>
                <input name="searchText" type="text" class="search_input" placeholder="请输入您要搜索的内容"/>
                <button type="submit" class="btn btn-info">搜索</button>
            </div>
        </form>
    </div>

    <div class="center_user">
        <div class="user_img">
            <img class="img-thumbnail" src="../static/img/user.png"/>
        </div>
        <div class="user_message">
            <div class="user_message_name">用户名</div>
            <div class="user_credit user_message_message">
                <label>用户信用：</label>
                <div>
                    <a style="line-height: 30px">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: medium;"></i>
                    </a>
                    <a style="line-height: 30px">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: medium;"></i>
                    </a>
                    <a style="line-height: 30px">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: medium;"></i>
                    </a>
                    <a style="line-height: 30px">
                        <i class="glyphicon glyphicon-star" style="color: green;font-size: medium;"></i>
                    </a>
                    <a style="line-height: 30px">
                    <i class="glyphicon glyphicon-star" style="color: green;font-size: medium;"></i>
                </a>

                </div>
            </div>

            <div class="add_user">
                <a onclick="return loginTip();">
                    <input id="friendId" hidden="hidden"/>
                    <img src="../static/img/adduser.png"/>
                    加入聊天列表
                </a>
                <a onclick="return chatLoginTip();">
                    <img src="../static/img/chat.png"/>
                    联系
                </a>
                <a onclick="showReportDiv()">
                    <img style="width: 15px;height: 15px" src="../static/img/report.png"/>
                    举报
                </a>
            </div>
        </div>
    </div>

    <div class="tabs_div">
        <ul class="nav nav-tabs" id="nav_tabs">
            <li class="active" index="0" onclick="selectTab(this)"><a>贡献书籍</a></li>
            <li index="1" onclick="selectTab(this)"><a>借阅记录</a></li>
            <li index="2" onclick="selectTab(this)"><a>寻书记录</a></li>
        </ul>
        <!--贡献书籍表-->
        <table id="contribution" class="table table-striped">
            <tr>
                <td>编号</td>
                <td>书名</td>
                <td>作者</td>
                <td>出版社</td>
                <td>日期</td>
            </tr>
            <tr>
                <td>图书编号</td>
                <td>
                    <a style="color: #333333;" href="#" target="_blank">图书名</a>
                </td>
                <td>作者</td>
                <td>出版社</td>
                <td>2017-09-23</td>
            </tr>
            <tr>
                <td>图书编号</td>
                <td>
                    <a style="color: #333333;" href="#" target="_blank">图书名</a>
                </td>
                <td>作者</td>
                <td>出版社</td>
                <td>2017-09-23</td>
            </tr>
            <tr>
                <td>图书编号</td>
                <td>
                    <a style="color: #333333;" href="#" target="_blank">图书名</a>
                </td>
                <td>作者</td>
                <td>出版社</td>
                <td>2017-09-23</td>
            </tr>
        </table>

        <!--借阅图书-->
        <table id="borrow" class="table table-striped" hidden="hidden">
            <tr>
                <td>编号</td>
                <td>书名</td>
                <td>作者</td>
                <td>出版社</td>
                <td>日期</td>
            </tr>
            <tr>
                <td>图书编号</td>
                <td>
                    <a style="color: #333333;" href="#" target="_blank">图书名</a>
                </td>
                <td>作者</td>
                <td>出版社</td>
                <td>2017-09-23</td>
            </tr>
        </table>

        <!--发布公告-->
        <table id="notice" class="table table-striped" hidden="hidden">
            <tr>
                <td>寻书记录</td>
                <td>日期</td>
            </tr>
            <tr>
                <td>图书名</td>
                <td>2017-09-23</td>
            </tr>
        </table>
    </div>
</div>

<!--底部-->
<div class="footer" align="center">
    <p class="copyright">
        Copyright © 2017. All Rights Reserved by dragonhht from
        <a href="https://github.com/dragonhht" title="Github" target="_blank" style="color: gray;">dragonhht</a>
    </p>
</div>

<!--弹出背景-->
<div id="out_bg" class="out_bg" hidden="hidden"></div>

<!--聊天框-->
<div id="user_chat_div" class="user_chat_div" hidden="hidden">
    <!--头部-->
    <div class="chat_title">
        <img class="img-rounded" src="../static/img/user.png" width="40px" height="40px"/>
        <span class="user_name">用户名</span>
        <span class="title_btn">
            <!--<a class="glyphicon glyphicon-minus"></a>-->
            <a id="close" class="glyphicon glyphicon-remove"></a>
        </span>
    </div>
    <!--信息展示框-->
    <div class="chat_show_div speak_box">
        <!--他人信息-->
        <div class="answer">
            <div class="heard_img left"><img src="images/dglvyou.jpg"/></div>
            <div class="answer_text"><p>你好！</p><i></i>
            </div>
        </div>

        <!--我的信息-->
        <div class="question">
            <div class="heard_img right">
                <img src="#"/></div>
            <div class="question_text clear"><p>你好！</p><i></i>
            </div>
        </div>

        <!--他人信息-->
        <div class="answer">
            <div class="heard_img left"><img src="images/dglvyou.jpg"/></div>
            <div class="answer_text"><p>你好！</p><i></i>
            </div>
        </div>

        <!--我的信息-->
        <div class="question">
            <div class="heard_img right">
                <img src="#"/></div>
            <div class="question_text clear"><p>你好！</p><i></i>
            </div>
        </div>

        <!--他人信息-->
        <div class="answer">
            <div class="heard_img left"><img src="images/dglvyou.jpg"/></div>
            <div class="answer_text"><p>你好！</p><i></i>
            </div>
        </div>

        <!--我的信息-->
        <div class="question">
            <div class="heard_img right">
                <img src="#"/></div>
            <div class="question_text clear"><p>你好！</p><i></i>
            </div>
        </div>

    </div>
    <div class="chat_tools">
        <ul>
            <li><a class="glyphicon glyphicon-picture"></a></li>
        </ul>
    </div>
    <textarea class="chat_input" autofocus="autofocus">

    </textarea>
    <div class="chat_btn">
        <button type="button" class="btn btn-info">发送</button>
    </div>
</div>

<!--举报框-->
<div id="report_div" class="report_div" hidden="hidden">
    <!--标题栏-->
    <div class="report_title">
        <span>举报</span>
        <span class="title_btn">
            <!--<a class="glyphicon glyphicon-minus"></a>-->
            <a id="close_report" class="glyphicon glyphicon-remove"></a>
        </span>
    </div>
    <!--举报内容-->
    <div class="report_body">
        <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-1 control-label">被举报人：</label>
                <span class="col-sm-2 control-label">被举报人</span>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">举报理由：</label>
                <div class="col-sm-7">
                    <textarea class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">备注图片：</label>
                <div class="row col-sm-11" style="float: right;margin-right: 10px">
                    <div class="">
                        <input id="file-select" name="file-select[]" type="file" multiple/>
                        <!--<hr/>-->
                        <!--<br/>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-info btn-block">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--添加提示框-->
<div class="alert"></div>

</body>
</html>